<%= form_for(@points_transaction) do |f| %>
  <% if @points_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@points_transaction.errors.count, "error") %> prohibited this points_transaction from being saved:</h2>

      <ul>
      <% @points_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_id %><br>
    <%= @points_transaction.school_id %>
  </div>
  <div class="field">
    <%= f.label :trans_type %><br>
    <%= @points_transaction.trans_type %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= @points_transaction.points %>
  </div>
  <div class="field">
    <%= f.label :payment %><br>
    <%= @points_transaction.payment %>
  </div>
  <div class="field">
    <%= f.label :attendee %><br>
    <%= @points_transaction.attendee %>
  </div>
  <div class="field">
    <%= f.label :event_start %><br>
    <%= @points_transaction.event_start %>
  </div>
  <div class="field">
    <%= f.label :event_end %><br>
    <%= @points_transaction.event_end %>
  </div>
  <div class="field">
    <%= f.label :course %><br>
    <%= @points_transaction.course %>
  </div>
  <div class="field">
    <%= f.radio_button :approved, 'Approved' %>
    <%= f.label :approved_approved, 'Approved' %><br>
    <%= f.radio_button :approved, 'Rejected' %>
    <%= f.label :approved_rejected, 'Rejected' %><br>
     <%= f.radio_button :approved, 'Pending' %>
    <%= f.label :approved_prending, 'Pending' %><br>
  </div>
  <div class="field">
    <%= f.label :points_type %><br>
    <%= f.text_field :points_type %>
  </div>
  <div class="field">
    <%= f.label :trans_date %><br>
    <%= @points_transaction.trans_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
