<p id="notice"><%= notice %></p>

<h1>Listing Points Transactions</h1>
<p>Total Points: <%= @total_points %></p>
<p>Available Points: <%= @available_points %></p>
<h2>Pending Approval</h2>
<table>
  <thead>
    <tr>
      <th>Campus</th>
      <th>Trans type</th>
      <th>Points</th>
      <th>Payment</th>
      <th>Attendee</th>
      <th>Event start</th>
      <th>Event end</th>
      <th>Course</th>
      <th>Approved</th>
      <th>Points type</th>
      <th>Trans date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pending.each do |pending| %>
      <tr>
        <td><%= pending.school_id %></td>
        <td><%= pending.trans_type %></td>
        <td><%= pending.points %></td>
        <td><%= pending.payment %></td>
        <td><%= pending.attendee %></td>
        <td><%= pending.event_start %></td>
        <td><%= pending.event_end %></td>
        <td><%= pending.course %></td>
        <td><%= pending.approved %></td>
        <td><%= pending.points_type %></td>
        <td><%= pending.trans_date %></td>
        <td><%= link_to 'Show', pending %></td>
        <td><%= link_to 'Edit', edit_points_transaction_path(pending) %></td>
        <td><%= link_to 'Destroy', pending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>All Transactions</h2>
<table>
  <thead>
    <tr>
      <th>Campus</th>
      <th>Trans type</th>
      <th>Points</th>
      <th>Payment</th>
      <th>Attendee</th>
      <th>Event start</th>
      <th>Event end</th>
      <th>Course</th>
      <th>Approved</th>
      <th>Points type</th>
      <th>Trans date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points_transactions.each do |points_transaction| %>
      <tr>
        <td><%= points_transaction.school_id %></td>
        <td><%= points_transaction.trans_type %></td>
        <td><%= points_transaction.points %></td>
        <td><%= points_transaction.payment %></td>
        <td><%= points_transaction.attendee %></td>
        <td><%= points_transaction.event_start %></td>
        <td><%= points_transaction.event_end %></td>
        <td><%= points_transaction.course %></td>
        <td><%= points_transaction.approved %></td>
        <td><%= points_transaction.points_type %></td>
        <td><%= points_transaction.trans_date %></td>
        <td><%= link_to 'Show', points_transaction %></td>
        <td><%= link_to 'Edit', edit_points_transaction_path(points_transaction) %></td>
        <td><%= link_to 'Destroy', points_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Points transaction', new_points_transaction_path %>
