
	
<main>
	<section id="program-display">
		<header aria-label="program-page-banner">
			<div class="row">
				<figure>
					<div class="logo">
						<%= image_tag(@program.school.image.url(:small), :align=> "center", :alt => '@program.school.name') %>
					</div>
					<figcaption>
						<h1><%= @program.prog_title %></h1>
						<h2><%= @program.level_expanded %></h2>
						<h3><%= @program.school.name %></h3>
					</figcaption>
				</figure>
				<div class="actions">
					
					<button class="rounded-button large green halo" data-program="" data-toggle="modal" data-target="#progModal">Request Information</button>
					<ul>
						<li>
							<a href="<%= @program.apply_now_url %>" class="apply_now" target="_blank">Apply Now!</a> | <a href="<%=@program.prog_appt_link%>" class="apply_now">Make an Appointment</a>
						</li>
						
					</ul>
				</div>
			</div>
			<div class="stats" id="testimonial-content">
				<ul class="row">
					<% if @program.open_suny == "Open SUNY" %>
					<li>
						<dl>
							<dt>Designated As</dt>
							<dd>Plus Program</dd>
						</dl>
					</li>
					<% elsif @program.open_suny == "SUNY Online" %>
					<li>
						<dl>
							<dt>Designated As</dt>
							<dd>Signature Program</dd>
						</dl>
					</li>
					<%end%>
					<li>
						<dl>
							<dt>Delivery Mode</dt>
							<dd><%= @program.delivery_method %></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Total Credits</dt>
							<dd><%= @program.duration %></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Degree Level</dt>
							<dd><%= @program.level_expanded %></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Contact Us</dt>
							<dd><a href="tel:15184454140" style="color:#ffffff !important;">518-445-4140</a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</header>
		<section class="program-content">
			<header role="program-navigation-banner" id="program-navigation-banner" aria-label="Program Details Navigation Banner">
				<nav class="row" aria-label="Program Details Navigation Bar"><ul class="hide-mobile" id="program-navigation-list">
					<li class="selected">Program Overview</li>
					<li><a href="#online">Courses</a></li>
					<li><a href="#online">Online Learning</a></li>
					<li><a href="#apply">How To Apply</a></li>
				</ul>
			</nav>
		</header>
		
		<div class="program-overview row">
			<section class="degree-card">
				<h2>Earn your <%= @program.level_expanded %> online</h2>
				<h3>You will earn the same diploma as our on-campus students</h3>
				<div class="description"><%=raw @program.description %></div>
				<% if @program.prog_level == "advanced-certificate" %>
				<dl class="info-block">
					<dt>What's an advanced certificate?</dt>
					<dd>Advanced, or graduate, certificates are designed to provide focused study to support a particular career interest. They vary in number of credits and typically require students to have a bachelor’s degree.</dd>
				</dl>
					<% end %>
				<% if @program.prog_level == "associate" %>
				<dl class="info-block">
					<dt>What's an associate degree?</dt>
					<dd>An associate degree usually takes two years of study and prepares students for employment or transfer to a bachelor’s program at a four-year university.</dd>
				</dl>
					<% end %>
				<% if @program.prog_level == "bachelor" %>
				<dl class="info-block">
					<dt>What's a bachelor's degree?</dt>
					<dd>A bachelor’s degree usually takes four years to complete as a full-time student and mixes general education courses with specific courses tied to your major.</dd>
				</dl>
					<% end %>
				<% if @program.prog_level == "master" %>
				<dl class="info-block">
					<dt>What's a master's degree?</dt>
					<dd>A master's degree is an advanced degree that usually takes two years to complete and typically requires students to have a bachelor’s degree in a related field of study.</dd>
				</dl>
					<% end %>
				<% if @program.prog_level == "doctorate" %>
				<dl class="info-block">
					<dt>What's a doctorate degree?</dt>
					<dd>A doctorate degree usually takes four or more years to complete, unless you already have a master's degree. Doctorate degrees are very specific to a particular area of study.</dd>
				</dl>
					<% end %>
				<% if @program.prog_level == "certificate" %>
				<dl class="info-block">
					<dt>What's a certificate?</dt>
					<dd>Certificates are usually one year in length and lead directly to employment. They consist of a focused series of courses and are typically found at Community Colleges.</dd>
				</dl>
					<% end %>
				</section>
			<aside class="school-card" aria-label="University Details">
				<div class="wrap one">
					<div class="info">
						<figure>
							<%= image_tag(@program.school.image.url(:large), :align=> "center" ) %>
							<figcaption>
								
						<% if @program.school.campus_type == "Community College"%>	
						<h4>About our Community College</h4>
							<p>As a SUNY Community College, we respond to the educational need of all people and their local, state, and global communities. We offer certificate programs and associate degrees, as well as transfer and career services. You will benefit from flexible course scheduling and affordable career exploration.</p>
						<% end%>
						<% if @program.school.campus_type == "Technology College"%>	
						<h4>About our Technology College</h4>
							<p>Cutting-edge, hands-on training for in-demand careers is the focus of our technology college. We offer academic programs and degrees in technical, as well as traditional, disciplines. Excellent support services complement the classroom instruction. Internships and on-the-job training provide students with hands-on experience that is sought after by employers.</p>
						<% end%>
						<% if @program.school.campus_type == "University Center"%>	
						<h4>About our University Center</h4>
							<p>Undergraduate teaching, research and advanced graduate and professional studies are top priorities for the University Centers and Doctoral Degree Granting Institutions. All campuses are research institutions and offer bachelor's, master's and doctoral degrees through a broad range of academic programs. Undergraduate research and honors programs provide students with opportunities to interact one-on-one with renowned national and international faculty.</p>
						<% end%>
						<% if @program.school.campus_type == "University College"%>	
						<h4>About our University College</h4>
							<p>Our university college is a leader in undergraduate instruction. We provide bachelor’s and master’s degrees in liberal arts and sciences and professional disciplines. Student success is our primary focus as evidenced by faculty and staff interactions through honors programs, independent study opportunities, research and study abroad.</p>
						<% end%>
						
						
<a name="online"></a>				
						
								<figure class="accreditation" id="onlinelearning"><img src="/assets/regionally_accredited.png" alt="Middle States Commission on Higher Education">
									<figcaption>
										<dl><dt>Regionally Accredited</dt>
											<dd>We are regionally accredited by the Middle States Commission on Higher Education</dd>
										</dl>
									</figcaption>
								</figure>
							</figcaption>
						</figure>
					</div>
				</div>
			</aside>
		</div>
		<hr>
				<div class="dasprogram-overview">
					<div class="row">
					<section class="degree-card">
						<h2><%= @program.prog_title.titleize %> courses you will take online	</h2>
						<!--h3>You will earn the same diploma as our on-campus students</h3-->
						<div class="description"><%=raw @program.prog_courses %></div>
						
						</section>
					<aside class="tuition-card" aria-label="University Details">
						<div class="wrap one">
							<div class="info">
								<figure>
								
									<figcaption>
								<figure class="accreditation1"><img src="/assets/suny-online-/images/programs/icons/checkbox.png" alt="Middle States Commission on Higher Education">
									
									<figcaption>
								
							
								<h3>Cost per Credit:</h3>
									
										<p>
										<strong>New York Residents:</strong> $ <%=@program.prog_cost_inst%> <br> 
										<strong>Out of State:</strong> $ <%=@program.prog_cost_outst%></p>
							
								
						
						
		<a name="online"></a>				
						
										
									</figcaption>
								</figure>
									</figcaption>
								</figure>
							</div>
						</div>
					</aside>
				</div>
				</div>
		
		
		
		
		<div class="online-learning">
			<div class="row">


				<ul>
					<li>
						<h2>What's it like to earn this degree online?</h2>
						<h3>Let's put your mind at ease about online learning</h3>
					</li>	
					<li>
						<dl class="fully-online">
							<dt>100% Online</dt>
							<dd>This program is presented 100% online. You will not be expected to attend any classes on campus.</dd>
						</dl>
					</li>
					<li>
						<dl class="same-faculty">
							<dt>Same faculty as on-campus</dt>
							<dd>The faculty that teach online classes are the same faculty that students learn from on-campus.</dd>
						</dl>
					</li>
					<li>
						<dl class="tutoring">
							<dt>SUNY Online Success Coach</dt>
							<dd>Success Coaches are available for onboarding, networking, and success webinars with coaches and peers. One-on-one application support is available (no application fee).</dd>
						</dl>
					</li>
					<li>
						<dl class="concierge">
							<dt>Personal assistance</dt>
							<dd>Tutoring support is available as well as additional support from our 7-day-a-week helpdesk.</dd>
						</dl>
					</li>
					<li>
						<dl class="open-suny-plus-diploma">
							<dt>Program elements</dt>
							<dd>This program has been identified as a high-needs area and has received regional accreditation. Articulation agreements are in place for easy transfer.</dd>
						</dl>
					</li>
					<li>
						<dl class="experimental-learning">
							<dt>Additional elements for specific programs</dt>
							<dd>-Experiential learning opportunities <br>
-Industry accreditation</dd>
						</dl>
					</li>	
					
					

					<li>
						<dl class="open-suny-plus">
							<dt>SUNY Online Signature Program</dt>
							<dd>In addition to the features listed above, this SUNY Online Signature Program includes 24/7 support, incorporates industry-leading teaching practices, and targets an area of high employer demand in New York State and beyond.</dd>
						</dl>
					</li>
					<li>
						<a class="rounded-button small green halo" data-program="<%=@program.ranku_id%>" data-toggle="modal" data-target="#progModal">Request Program Information</a>
					</li>
				</ul>
				

				<aside aria-label="Student Feedback">
					<img src="/assets/suny-computer.png" alt="SUNY Online Computer">
					<blockquote>
						<q>I was a bit apprehensive at first because I knew online classes require that you motivate yourself, but after this experience, I will always choose online if possible. I think there are so many benefits.</q>
						<cite>Kimberly Lane</cite>
					</blockquote>
				</aside>
			</div>
		</div>
		
<a name="apply"></a>		
		<div class="apply-overview">
			<section class="row">
				<h2>How do I apply?</h2>
				<h3>Follow these steps to start your application</h3>
				<ol>
					<li>Go to the online application</li>
					<li>Create an account</li>
					<li>Complete the forms or save for later</li>
					<li>Submit any supplemental materials, if required</li>
					<li>Send in your academic records</li>
					<li class="info">
						<a href="<%= @program.apply_now_url %>" class="rounded-button small green" title="Apply to <%= @program.school.name %> now!">Apply Now</a>
					</li>
				</ol>
				<aside aria-labelledby="anyQuestions" aria-describedby="anyQuestionsDiscription">
					<h3 id="anyQuestions" class="header-top">Do you have questions about any of the following topics?</h3>
					<p id="anyQuestionsDiscription">We'll connect you with someone who can answer all your questions</p>
					<ul>
						<li>
							<button class="rounded-button a-unique-class" title="Ask SUNY about Previous or Transfer Credits" onclick=" window.open('<%=@program.prog_appt_link%>','_blank')" >Previous or Transfer Credits</button>
	</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about Admission Requirements" onclick=" window.open('<%=@program.prog_appt_link%>','_blank')">Admission Requirements</button>
						</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about Tuition or Financial Aid" onclick=" window.open('<%=@program.prog_appt_link%>','_blank')">Tuition or Financial Aid</button>
						</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about General Program Information" onclick=" window.open('<%=@program.prog_appt_link%>','_blank')">General Program Information</button>
						</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about Taking Online Classes" onclick=" window.open('<%=@program.prog_appt_link%>','_blank')">Taking Online Classes</button>
						</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about Something Not Listed" onclick=" window.open('<%=@program.prog_appt_link%>','_blank')">Something Not Listed</button>
						</li>
					</ul>
				</aside>
			</section>
		</div>
	</section>
	<section class="related-programs"></section>
	<section class="rfi-banner">
		<h4>Interested in learning more about this program?</h4>
		<button class="rounded-button large white blue-halo" data-program="<%=@program.ranku_id%>" data-toggle="modal" data-target="#progModal">Request More Information</button>
	</section>
</section>
		</main>
		


<%= render(
  partial: 'programs/dasprog_modal'

) %>

