<div id="filterrific_results">

<section class="degree-results row">
  	<div class="pull-right resets"  data-intro="Reset the filter settings to defaults." data-position="bottom">
    	<%= link_to('Reset filters', reset_filterrific_url, :class => 'reset_link') %>

  	</div>
  	<div class="chardin_box" data-intro="will_paginate's entries info works as expected." data-position="bottom">
 	   <h1> <%= page_entries_info @programs, entry_name: "programs" %></h1>
 	 </div>
 	 <div class="chardin_box" data-intro="Spinner indicates update." data-position="bottom">

        <span class="filterrific_spinner" style="display:none;">
          <%= render_filterrific_spinner %>
        </span>
	 </div>
	<ul class="results">
		<div class="info-title">
			<dl>
				<dt>
					<%= image_tag('/assets/Badge_White.png', :alt => "SUNY Online Signature Programs", :width => '19px', :height => '27px', :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'SUNY Online Signature Programs') %> 
					<a href="/content/about">
						<span>Featured</span>
					</a>
				</dt>
				<dd>
				</dd>
			</dl>
			<dl>
				<dt class="delivery-mode-extra">Delivery Mode</dt>
				<dd>	
				</dd>
			</dl>
			<dl>
				<dt class="degree-type-extra">Degree Type</dt>
				<dd>
					
				</dd>
			</dl>
			<dl>
				<dt class="credit-type-extra">Credits</dt>
				<dd>	
				</dd>
			</dl>
		</div>
		 <% @programs.each do |programs| %>
		<li class="full-width">
			<div class="result">
				<div class="program">
						<figure>
							<div class="logo">
								<%= link_to image_tag(programs.school.image.url(:small), :align=> "center"), programs %>
							</div>
							<figcaption>
								<h2><%= link_to programs.prog_title, programs%></h2>
								<h3><%= programs.school.name %></h3>
							</figcaption>
						</figure>

					<div class="info">
						<dl>
							<dt>
							
							</dt>
							<dd>
						   	 <% if programs.open_suny == "Open SUNY" %>
						          <%= image_tag('/assets/Badge_Blue.png', :alt => "SUNY Online Plus", :width => '20px', :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'SUNY Online Plus') %> 
						   	   <% elsif programs.open_suny == "SUNY Online" %>
						   	    <%= image_tag('/assets/Badge_Yellow.png', :alt => "SUNY Online Signature Program", :width => '20px', :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'SUNY Online Signature Program') %> 
						   	       <% end %>
							</dd>
						</dl>
						<dl>
							<dt>Delivery Mode</dt>
							<dd class="extra-margin-delivery"><%= programs.delivery_method %></dd>
						</dl>
						<dl>
							<dt>Degree Type</dt>
							<dd class="extra-margin-degree"><%= programs.level_expanded  %></dd>
						</dl>
						<dl>
							<dt>Credits</dt>
							<dd class="extra-margin"><%= programs.duration  %></dd>
						</dl>
					</div>
				</div>
<div class="mobile-logo">
  	 <% if programs.open_suny == "Open SUNY" %>
         <%= image_tag('/assets/Badge_Blue.png', :alt => "SUNY Online Plus", :width => '20px', :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'SUNY Online Plus') %>  <span>SUNY Online Plus</span>
  	   <% elsif programs.open_suny == "SUNY Online" %>
  	    <%= image_tag('/assets/Badge_Yellow.png', :alt => "SUNY Online Signature Program", :width => '20px', :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'SUNY Online Signature Program') %>  <span>SUNY Online Signature Program</span>
  	       <% end %>
	   </div>
			</div>

	</li> <% end %>
</ul>

</section> 


 </div>
  
 </div>

 </div>


