<% title "Online Degrees and Certificates"  %>

<header class="search-filter" aria-label="Degrees Filter Banner">
	<nav class="search-row" aria-label="Degrees Filter Navigation">
		<%= form_for_filterrific @filterrific do |f| %><div class="form-row1">
		    <%= f.text_field(
		      :search_query,
		      class: 'prog_search',
				  #type: 'text',
				 # name: 'search',
				  placeholder: 'Search for a Degree',
				 # value: ''
			 
		    ) %>
		    <%= f.select(
		      :with_prog_level,
		      @filterrific.select_options[:with_prog_level],
		      { include_blank: 'All Degree Levels' },
			  class: 'degree_search',
			  #name: 'degree'
		    ) %>
		    <%= f.select(
		      :with_subject_area,
		      @filterrific.select_options[:with_subject_area],
		      { include_blank: 'All Fields of Study' },
			   class: 'fieldFilter',
			   #name: 'fieldFilter'
		    ) %>
			
		<% end %>
	</nav>
</header>


  </div>
  </div>
<%= render(
  partial: 'programs/list',
  locals: { programs: @programs }
) %>


