<div class="row">
<div class="well">


<%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
  <div class="span3 chardin_box">
        <label>Search</label>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
   <div class="span3 chardin_box">
     <label>Level</label>
   <%= f.select(
     :with_level,
     @filterrific.select_options[:with_level],
     { include_blank: '- Any -' }
   ) %>
 </div>
 <div class="span3 chardin_box">
   <label>Subject Area</label>
 <%= f.select(
   :with_subject_area_id,
   @filterrific.select_options[:with_subject_area_id],
   { include_blank: '- Any -' }
 ) %>
</div>
    <div class="span3 chardin_box">
      <label>School</label>
    <%= f.select(
      :with_school_id,
      @filterrific.select_options[:with_school_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
    <div class="span3 chardin_box">
      <label>Delivery Method</label>
    <%= f.select(
      :with_delivery,
      @filterrific.select_options[:with_delivery],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div class="span3 chardin_box">
    <label>Open SUNY+</label>
    <%= f.select(
      :with_os,
      @filterrific.select_options[:with_os],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div class="span3 chardin_box">
    <label>Sorted by</label>
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  </div>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
<% end %>

  
<%= render(
  partial: 'programs/list',
  locals: { programs: @programs }
) %>
</div>
</div>
