<div class="row">
<div class="well">


<%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
  <div class="span3 chardin_box">
        <label>Search</label>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

    <div class="span3 chardin_box">
      <label>School</label>
    <%= f.select(
      :with_school_id,
      @filterrific.select_options[:with_school_id],
      { include_blank: '- Any -' }
    ) %>
    <%# See below for the Country.options_for_select presenter method %>
  </div>
  <div class="span3 chardin_box">
    <label>Registered after</label>
   
  </div>
  <div class="span3 chardin_box">
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    <%# See below for the Student.options_for_sorted_by presenter method %>
  </div>
  </div>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

  
<%= render(
  partial: 'programs/list',
  locals: { programs: @programs }
) %>
</div>
</div>
