

  <div>
    <!--%= page_entries_info students # provided by will_paginate %-->
  </div>

<table class="table">
    <tr>
      <th>Prog title</th>
      <th>Subject area</th>
      <th>Prog level</th>
      <th>Level abb</th>
      <th>School</th>
      <th>Duration</th>
      <th>Delivery method</th>
      <th>Open suny</th>
      <th>Per courses online</th>
      <th>Synchronous</th>
      <th>Tutoring</th>
      <th>Helpdesk</th>
      <th>Concierge</th>
      <th>Experiential learning</th>
      <th>Plas</th>
      <th>Accelerated</th>
      <th>Level expanded</th>
      <th colspan="3"></th>
    </tr>

    <% @programs.each do |program| %>
      <tr>
        <td><%= program.prog_title %></td>
        <td><%= program.subject_area.name %></td>
        <td><%= program.prog_level %></td>
        <td><%= program.level_abb.name %></td>
        <td><%= program.school.name %></td>
        <td><%= program.duration %></td>
        <td><%= program.delivery_method %></td>
        <td><% if program.open_suny == 'Yes' %><%= link_to image_tag("/assets/os42.png", :alt => "Powered by Open SUNY+"), 'http://www.open.suny.edu', :target => '_blank' %><% end %></td>
        <td> <% if program.per_courses_online == "25" %>
           <%= image_tag("/assets/2542.png", :alt => "25% online", :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '25% Online - Percent of Courses Online - Degree programs can range from 100% online to a mix of in-person and online courses.') %>
         <% elsif program.per_courses_online == "50" %>  
           <%= image_tag("/assets/5042.png", :alt => "50% online", :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '50% Online - Percent of Courses Online - Degree programs can range from 100% online to a mix of in-person and online courses.') %>
         <% elsif program.per_courses_online == "75" %>  
           <%= image_tag("/assets/7542.png", :alt => "75% online", :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '75% Online - Percent of Courses Online - Degree programs can range from 100% online to a mix of in-person and online courses.') %>
         <% elsif program.per_courses_online == "100" %>  
           <%= image_tag("/assets/10042.png", :alt => "100% online", :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '100% Online - Percent of Courses Online - Degree programs can range from 100% online to a mix of in-person and online courses.') %>
         <% end %></td>
        <td> <% if program.synchronous == true%>  <%= image_tag("/assets/syn42.png", :alt => "Synchronous Courses", :id => 'sync_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Synchronous Courses - Students learn in real-time while the professor leads the class. Synchronous courses are similar to in-person classes, but from a distance.')%> <% else %>
          <%= image_tag("/assets/asyn42.png", :alt => "Asynchronous Courses", :id => 'async_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Asynchronous Courses - Asynchronous online courses are usually semester or term-based with a start and end date. Within this structure there is flexibility as to when students participate in course learning activities.')%><% end %></td>
        <td> <% if program.tutoring == true%><%= image_tag("/assets/tut42.png", :alt => "Tutoring Available", :id => 'tutoring_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Tutoring - Need tutoring assistance? Students have access to academic tutoring day and night.') %> <% end %></td>
        <td> <% if program.helpdesk == true%> <%= image_tag("/assets/hd42.png", :alt => "HelpDesk Available", :id => 'helpdesk_icon', :rel => 'tooltip', "data-placement" =>'top', "data-content" =>'some info', :title => '24/7 HelpDesk - Experiencing technical difficulties? Students in this program have access to technical support day and night.')%><% end %></td>
        <td> <% if program.concierge == true%> <%= image_tag("/assets/sc42.png", :alt => "Concierge Available", :id => 'con_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Concierge - Have questions? Each student has one point of contact for all questions about their program.')%><% end %></td>
        <td> <% if program.experiential_learning == true%><%= image_tag("/assets/el42.png", :alt => "Experiential Learning Available", :id => 'ex_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Experiential Learning - Experiential learning connects classroom to career. Students apply their academic knowledge in the real world through field experiences such as internships, clinical placements, and service learning.')%><% end %></td>
        <td><% if program.plas == true%><%= image_tag("/assets/pl42.png", :alt => "PLA's Available", :id => 'pla_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Prior Learning Assessment - Life experience counts. Students can receive credit toward their program based on their existing knowledge.')%> <% end %></td>
        <td> <% if program.accelerated == true%><%= image_tag("/assets/acc42.png", :alt => "Accelerated Degree Completion Available", :id => 'degree_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Accelerated Degree Completion - Looking for the option of early graduation? This program allows students to complete their studies ahead of schedule.')%><% end %></td>
        <td><%= program.level_expanded %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
      </tr>
    <% end %>
</table>


