<% title "#{@program.prog_title}"  %>
<% description "#{@program.prog_title} |  #{@program.level_expanded} (#{@program.level_abb}) | #{@program.school.name}"  %>
<p id="notice"><%= notice %></p>
<div class="row">
 <div class="col-md-7">
    <p>
    <h1><%= @program.prog_title %></h1>
    </p>
    <p>
      <%= @program.description %>
    </p>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Services</h3>
        </div>
        <div class="panel-body">
          <div class="open_icons">
           <% if @program.per_courses_online == "25" %>
              <%= image_tag("/assets/2542.png", :alt => "25% online", :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '25% Online - Percent of Courses Online - Degree programs can range from 100% online to a mix of in-person and online courses.') %>
            <% elsif @program.per_courses_online == "50" %>  
              <%= image_tag("/assets/5042.png", :alt => "50% online", :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '50% Online - Percent of Courses Online - Degree programs can range from 100% online to a mix of in-person and online courses.') %>
            <% elsif @program.per_courses_online == "75" %>  
              <%= image_tag("/assets/7542.png", :alt => "75% online", :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '75% Online - Percent of Courses Online - Degree programs can range from 100% online to a mix of in-person and online courses.') %>
            <% elsif @program.per_courses_online == "100" %>  
              <%= image_tag("/assets/10042.png", :alt => "100% online", :id => 'per_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '100% Online - Percent of Courses Online - Degree programs can range from 100% online to a mix of in-person and online courses.') %>
            <% end %>
            </div><!--/.open_icons-->
         <% if @program.helpdesk == true%>      
            <div class="open_icons">
              <%= image_tag("/assets/hd42.png", :alt => "HelpDesk Available", :id => 'helpdesk_icon', :rel => 'tooltip', "data-placement" =>'top', :title => '24/7 HelpDesk - Experiencing technical difficulties? Students in this program have access to technical support day and night.')%>    
            </div><!--/.open_icons-->
         <% end %>
         <% if @program.concierge == true%>
           <div class="open_icons">
              <%= image_tag("/assets/sc42.png", :alt => "Concierge Available", :id => 'con_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Concierge - Have questions? Each student has one point of contact for all questions about their program.')%>
           </div><!--/.open_icons-->
         <% end %>
         <% if @program.synchronous == true%>
          <div class="open_icons">
           <%= image_tag("/assets/syn42.png", :alt => "Synchronous Courses", :id => 'sync_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Synchronous Courses - Students learn in real-time while the professor leads the class. Synchronous courses are similar to in-person classes, but from a distance.')%>
          </div>
          <% elsif %>
          <div class="open_icons">
           <%= image_tag("/assets/asyn42.png", :alt => "Asynchronous Courses", :id => 'async_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Asynchronous Courses - Asynchronous online courses are usually semester or term-based with a start and end date. Within this structure there is flexibility as to when students participate in course learning activities.')%>
         </div><!--/.open_icons-->  
         <% end %> 
         <% if @program.experiential_learning == true%>
         <div class="open_icons">
            <%= image_tag("/assets/el42.png", :alt => "Experiential Learning Available", :id => 'ex_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Experiential Learning - Experiential learning connects classroom to career. Students apply their academic knowledge in the real world through field experiences such as internships, clinical placements, and service learning.')%>
         </div><!--/.open_icons-->
          <% end %>
          <% if @program.plas == true%>
         <div class="open_icons">
            <%= image_tag("/assets/pl42.png", :alt => "PLA's Available", :id => 'pla_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Prior Learning Assessment - Life experience counts. Students can receive credit toward their program based on their existing knowledge.')%>
         </div><!--/.open_icons-->
         <% end %>
         <% if @program.accelerated == true%>
         <div class="open_icons">
            <%= image_tag("/assets/acc42.png", :alt => "Accelerated Degree Completion Available", :id => 'degree_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Accelerated Degree Completion - Looking for the option of early graduation? This program allows students to complete their studies ahead of schedule.')%>     
         </div><!--/.open_icons-->
          <% end %>
          <% if @program.tutoring == true%>
         <div class="open_icons">
              <%= image_tag("/assets/tut42.png", :alt => "Tutoring Available", :id => 'tutoring_icon', :rel => 'tooltip', "data-placement" =>'top', :title => 'Tutoring - Need tutoring assistance? Students have access to academic tutoring day and night.') %>
         </div><!--/.open_icons-->
         <% end %>
        </div>
    </div>  
</div><!--/.open_icons-->
<div class="col-md-3 col-md-offset-2">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h2 class="panel-title" style="text-align:center;" ><a href="<%= @program.apply_now_url %>" class="apply_now" target="_blank">Apply Now!</a></h2>
      </div>
  </div>
</div>

<div class="col-md-7">
    <p>
      <strong>Subject area:</strong>
      <%= @program.subject_area.name %>
    </p>

    <p>
      <strong>Prog level:</strong>
      <%= @program.prog_level %>
    </p>

    <p>
      <strong>Level abb:</strong>
      <%= @program.level_abb.name %>
    </p>

    <p>
      <strong>Duration:</strong>
      <%= @program.duration %>
    </p>

    <p>
      <strong>Delivery method:</strong>
      <%= @program.delivery_method %>
    </p>

    <p>
      <strong>Prerequisites:</strong>
      <%= @program.prerequisites %>
    </p>
</div>

<div class="col-md-3 col-md-offset-2">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Important Links</h3>
      </div>
      <div class="list-group">
        <a href="<%= @program.school.school_url %>" class="list-group-item " target="_blank">School Website</a>
        <a href="<%= @program.program_url %>" class="list-group-item " target="_blank">Program Details</a>
        <a href="<%= @program.registration_url %>" class="list-group-item" target="_blank">Registration</a>
        <a href="<%= @program.school.tuition_url %>" class="list-group-item " target="_blank">Cost & Fees</a>
        <a href="<%= @program.school.financial_aid_url %>" class="list-group-item " target="_blank">Financial Aid</a>
      </div>
    </div>
</div>

<div class="col-md-7">
   <p>
      <h4><%= @program.school.name %></h4>
      <strong>Address:</strong><br>
      <%= @program.school.address1 %><br>
      <%= @program.school.address2 %><br>
      <%= @program.school.city %>, <%= @program.school.state %> <%= @program.school.zip %>
    </p>
</div>
<div class="col-md-3 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body" style="text-align:center;">
      <a href="<%= @program.school.school_url %>" target="_blank"><%= image_tag(@program.school.image.url(:thumb), :align=> "center") %></a>
    </div>
  </div>
</div>
</div>


    








</div>