<style>
	#top_rfi{
		display:none;
	}
	</style>
<main>
	<section id="program-display">
		<header aria-label="program-page-banner">
			<div class="row">
				<figure>
					<div class="logo">
						<%= image_tag(@program.school.image.url(:small), :align=> "center", :alt => '@program.school.name') %>
					</div>
					<figcaption>
						<h1><%= @program.prog_title %></h1>
						<h2><%= @program.level_expanded %></h2>
						<h3><%= @program.school.name %></h3>
					</figcaption>
				</figure>
				<div class="actions">
					<button class="rounded-button large green halo" data-program="" data-toggle="modal" data-target="#progModal">Request Information</button>
					<ul>
						<li>
							<a href="<%= @program.apply_now_url %>" class="apply_now" target="_blank">Apply Now!</a>
						</li>
						
					</ul>
				</div>
			</div>
			<div class="stats" id="testimonial-content">
				<ul class="row">
					<% if @program.open_suny == "Open SUNY" %>
					<li>
						<dl>
							<dt>Designated As</dt>
							<dd>Plus Program</dd>
						</dl>
					</li>
					<% elsif @program.open_suny == "SUNY Online" %>
					<li>
						<dl>
							<dt>Designated As</dt>
							<dd>Signature Program</dd>
						</dl>
					</li>
					<%end%>
					<li>
						<dl>
							<dt>Delivery Mode</dt>
							<dd><%= @program.delivery_method %></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Total Credits</dt>
							<dd><%= @program.duration %></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Degree Level</dt>
							<dd><%= @program.level_expanded %></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Contact Us</dt>
							<dd>800-342-3811</dd>
						</dl>
					</li>
				</ul>
			</div>
		</header>
		<section class="program-content">
			<header role="program-navigation-banner" id="program-navigation-banner" aria-label="Program Details Navigation Banner">
				<nav class="row" aria-label="Program Details Navigation Bar"><ul class="hide-mobile" id="program-navigation-list">
					<li class="selected">Program Overview</li>
					<li><a href="#online">Online Learning</a></li>
					<li><a href="#apply">How To Apply</a></li>
				</ul>
			</nav>
		</header>
		<div class="program-overview row">
			<section class="degree-card">
				<h2>Earn your <%= @program.prog_level %> degree online</h2>
				<h3>You will earn the same diploma as our on-campus students</h3>
				<div class="description"><%=raw @program.description %></div>
				<% if @program.prog_level == "advanced-certificate" %>
				<dl class="info-block">
					<dt>What's a advanced certificate?</dt>
					<dd>Advanced, or graduate, certificates are designed to provide focused study to support a particular career interest. They vary in number of credits and typically require students to have a bachelor’s degree.</dd>
				</dl>
					<% end %>
				</section>
			<aside class="school-card" aria-label="University Details">
				<div class="wrap one">
					<div class="info">
						<figure>
							<%= image_tag(@program.school.image.url(:large), :align=> "center" ) %>
							<figcaption>
								
						<% if @program.school.campus_type == "Community College"%>	
						<h4>About our Community College</h4>
							<p>As a SUNY Community College, we respond to the educational need of all people and their local, state, and global communities. We offer certificate programs and associate degrees, as well as transfer and career services. You will benefit from flexible course scheduling and affordable career exploration.</p>
						<% end%>
						<% if @program.school.campus_type == "Technology College"%>	
						<h4>About our Technology College</h4>
							<p>Cutting-edge, hands-on training for in-demand careers is the focus of our technology college. We offer academic programs and degrees in technical, as well as traditional, disciplines. Excellent support services complement the classroom instruction. Internships and on-the-job training provide students with hands-on experience that is sought after by employers.</p>
						<% end%>
						<% if @program.school.campus_type == "University"%>	
						<h4>About our University</h4>
							<p>Our university college is a leader in undergraduate instruction. We provide bachelor’s and master’s degrees in liberal arts and sciences and professional disciplines. Student success is our primary focus as evidenced by faculty and staff interactions through honors programs, independent study opportunities, research and study abroad.</p>
						<% end%>
						
						
<a name="online">				
						
								<figure class="accreditation" id="onlinelearning"><img src="/assets/regionally_accredited.png" alt="Middle States Commission on Higher Education">
									<figcaption>
										<dl><dt>Regionally Accredited</dt>
											<dd>We are regionally accredited by the Middle States Commission on Higher Education</dd>
										</dl>
									</figcaption>
								</figure>
							</figcaption>
						</figure>
					</div>
				</div>
			</aside>
		</div>
		
		<div class="online-learning">
			<div class="row">

<% if @program.open_suny != "SUNY Online" %>				<ul>
					<li>
						<h2>What's it like to earn this degree online?</h2>
						<h3>Let's put your mind at ease about online learning</h3>
					</li>
					<% if @program.delivery_method == '100% Online'%>	
					<li>
						<dl class="fully-online">
							<dt>100% Online</dt>
							<dd>This program is presented 100% online. You will not be expected to attend any classes on campus.</dd>
						</dl>
					</li>
					<% end %>
					<% if @program.synchronous == TRUE%>	
					<li>
						<dl class="synchronous">
							<dt>Live classes</dt>
							<dd>You will learn in real-time while the instructor leads the class. Courses are similar to in-person classes, but you participate online.</dd>
						</dl>
					</li>
					<% end %>
					<% if @program.asynchronous == TRUE%>	
					<li>
						<dl class="asynchronus">
							<dt>Classes on your schedule</dt>
							<dd>Courses are semester based and classwork can be completed around your work and family commitments. There is no set time where you are required to log in to attend class.</dd>
						</dl>
					</li>
					<% end %>
					<li>
						<dl class="same-faculty">
							<dt>Same faculty as on-campus</dt>
							<dd>The faculty that teach online classes are the same faculty that students learn from on-campus.</dd>
						</dl>
					</li>
					<% if @program.concierge == TRUE%>	
					<li>
						<dl class="concierge">
							<dt>Personal concierge</dt>
							<dd>You will have one person who acts as a single point of contact for any and all questions you may have.</dd>
						</dl>
					</li>
					<% end %>
					<% if @program.experiential_learning == TRUE%>	
					<li>
						<dl class="experimental-learning">
							<dt>Learn by doing</dt>
							<dd>Participate in field experiences such as internships, clinical placements, and service learning to apply your academic knowledge in the world.</dd>
						</dl>
					</li>
					<% end %>
					<% if @program.plas == TRUE%>	
					<li>
						<dl class="prior-learning">
							<dt>Credit for prior knowledge</dt>
							<dd>Get college credit for experience that you have already gained at school or in the workforce.</dd>
						</dl>
					</li>
					<% end %>
					<% if @program.tutoring == TRUE%>	
					<li>
						<dl class="tutoring">
							<dt>Access to a personal tutor</dt>
							<dd>You will have access to a tutor when you need assistance with any of your classes.</dd>
						</dl>
					</li>
					<% end %>
					<% if @program.open_suny == "Open SUNY" %>
					<li>
						<dl class="open-suny-plus">
							<dt>SUNY Online Plus Program</dt>
							<dd>In addition to the features listed above, this SUNY Online Plus Program includes 24/7 support, incorporates industry-leading teaching practices, and targets an area of high employer demand in New York State and beyond.</dd>
						</dl>
					</li>
					<% end %>
					<% if @program.open_suny == "SUNY Online"%>
					<li>
						<dl class="open-suny-plus">
							<dt>SUNY Online Degree at Scale</dt>
							<dd>In addition to the features listed above, this SUNY Online Degree at Scale includes 24/7 support, incorporates industry-leading teaching practices, and targets an area of high employer demand in New York State and beyond.</dd>
						</dl>
					</li>
					<% end %>
					<li>
						<a class="rounded-button small green halo" data-program="<%=@program.ranku_id%>" data-toggle="modal" data-target="#progModal">Request Program Information</a>
					</li>
				</ul>
				<% end %>
<% if @program.open_suny == "SUNY Online" %>
				<ul>
					<li>
						<h2>What's it like to earn this degree online?</h2>
						<h3>Let's put your mind at ease about online learning</h3>
					</li>	
					<li>
						<dl class="fully-online">
							<dt>100% Online</dt>
							<dd>This program is presented 100% online. You will not be expecrted to attend any classes on campus.</dd>
						</dl>
					</li>
					<li>
						<dl class="same-faculty">
							<dt>Same faculty as on-campus</dt>
							<dd>The faculty that teach online classes are the same faculty that students learn from on-campus.</dd>
						</dl>
					</li>
					<li>
						<dl class="tutoring">
							<dt>SUNY Online Success Coach</dt>
							<dd>Success Coaches are available for onboarding, networking, and success webinars with coaches and peers. One-on-one application support is available (no application fee).</dd>
						</dl>
					</li>
					<li>
						<dl class="concierge">
							<dt>Personal assistance</dt>
							<dd>Tutoring support is available as well as additional support from our 7-day-a-week helpdesk.</dd>
						</dl>
					</li>
					<li>
						<dl class="open-suny-plus-diploma">
							<dt>Program elements</dt>
							<dd>This program has been identified as a high-need areas and has received regional accreditation. Articulation agreements are in place for easy transfer.</dd>
						</dl>
					</li>
					<li>
						<dl class="experimental-learning">
							<dt>Additional elements for specific programs</dt>
							<dd>-Experiential learning opportunities <br>
-Industry accreditation</dd>
						</dl>
					</li>	
					
					

					<li>
						<dl class="open-suny-plus">
							<dt>SUNY Online Signature Program</dt>
							<dd>In addition to the features listed above, this SUNY Online Signature Program includes 24/7 support, incorporates industry-leading teaching practices, and targets an area of high employer demand in New York State and beyond.</dd>
						</dl>
					</li>
					<li>
						<a class="rounded-button small green halo" data-program="<%=@program.ranku_id%>" data-toggle="modal" data-target="#progModal">Request Program Information</a>
					</li>
				</ul>
				
				<% end %>
				<aside aria-label="Student Feedback">
					<img src="/assets/suny-computer.png" alt="SUNY Online Computer">
					<blockquote>
						<q>I was a bit apprehensive at first because I knew online classes require that you motivate yourself, but after this experience, I will always choose online if possible. I think there are so many benefits.</q>
						<cite>Kimberly Lane</cite>
					</blockquote>
				</aside>
			</div>
		</div>
		
<a name="apply"></a>		
		<div class="apply-overview">
			<section class="row">
				<h2>How do I enroll?</h2>
				<h3>Follow these steps to start your application</h3>
				<ol>
					<li>Go to the online application</li>
					<li>Create an account</li>
					<li>Complete the forms or save for later</li>
					<li>Pay the application fee</li>
					<li>Submit any supplemental materials, if required</li>
					<li>Send in your academic records</li>
					<li class="info">
						<a href="<%= @program.apply_now_url %>" class="rounded-button small green" title="Apply to <%= @program.school.name %> now!">Apply Now</a>
					</li>
				</ol>
				<aside aria-labelledby="anyQuestions" aria-describedby="anyQuestionsDiscription">
					<h3 id="anyQuestions" class="header-top">Do you have questions about any of the following topics?</h3>
					<p id="anyQuestionsDiscription">We'll connect you with someone who can answer all your questions</p>
					<ul>
						<li>
							<button class="rounded-button a-unique-class" title="Ask SUNY about Previous or Transfer Credits" data-program="<%=@program.ranku_id%>" data-topic="admission_requirements" data-toggle="modal" data-target="#progModal" value="2" >Previous or Transfer Credits</button>
	</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about Admission Requirements" data-program="<%=@program.ranku_id%>" data-topic="admission_requirements" data-toggle="modal" data-target="#progModal" value="4">Admission Requirements</button>
						</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about Tuition or Financial Aid" data-program="<%=@program.ranku_id%>" data-topic="tuition_financial_aid" data-toggle="modal" data-target="#progModal" value="3">Tuition or Financial Aid</button>
						</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about General Program Information" data-program="<%=@program.ranku_id%>" data-topic="general_program_info" data-toggle="modal" data-target="#progModal" value="1">General Program Information</button>
						</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about Taking Online Classes" data-program="<%=@program.ranku_id%>" data-topic="online_classes" data-toggle="modal" data-target="#progModal" value="5">Taking Online Classes</button>
						</li>
						<li>
							<button class="rounded-button" title="Ask SUNY about Something Not Listed" data-program="<%=@program.ranku_id%>" data-topic="other" data-toggle="modal" data-target="#progModal" value="6">Something Not Listed</button>
						</li>
					</ul>
				</aside>
			</section>
		</div>
	</section>
	<section class="related-programs"></section>
	<section class="rfi-banner">
		<h4>Interested in learning more about this program?</h4>
		<button class="rounded-button large white blue-halo" data-program="<%=@program.ranku_id%>" data-toggle="modal" data-target="#progModal">Request More Information</button>
	</section>
</section>
		</main>
		

<%= render(
  partial: 'programs/prog_modal'#,
 #:locals => {:questions => @questions }
) %>

