<% title "#{@program.prog_title}"  %>
<% description "#{@program.prog_title} |  #{@program.level_expanded} (#{@program.level_abb}) | #{@program.school.name}"  %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Prog title:</strong>
  <%= @program.prog_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Subject area:</strong>
  <%= @program.subject_area %>
</p>

<p>
  <strong>Prog level:</strong>
  <%= @program.prog_level %>
</p>

<p>
  <strong>Level abb:</strong>
  <%= @program.level_abb %>
</p>

<p>
  <strong>School:</strong>
  <%= @program.school_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @program.duration %>
</p>

<p>
  <strong>Delivery method:</strong>
  <%= @program.delivery_method %>
</p>

<p>
  <strong>Prerequisites:</strong>
  <%= @program.prerequisites %>
</p>

<p>
  <strong>Program url:</strong>
  <%= @program.program_url %>
</p>

<p>
  <strong>Registration url:</strong>
  <%= @program.registration_url %>
</p>

<p>
  <strong>Open suny:</strong>
  <%= @program.open_suny %>
</p>

<p>
  <strong>Per courses online:</strong>
  <%= @program.per_courses_online %>
</p>

<p>
  <strong>Synchronous:</strong>
  <%= @program.synchronous %>
</p>

<p>
  <strong>Synchronous text:</strong>
  <%= @program.synchronous_text %>
</p>

<p>
  <strong>Tutoring:</strong>
  <%= @program.tutoring %>
</p>

<p>
  <strong>Tutoring name:</strong>
  <%= @program.tutoring_name %>
</p>

<p>
  <strong>Tutoring phone:</strong>
  <%= @program.tutoring_phone %>
</p>

<p>
  <strong>Tutoring email:</strong>
  <%= @program.tutoring_email %>
</p>

<p>
  <strong>Tutoring url:</strong>
  <%= @program.tutoring_url %>
</p>

<p>
  <strong>Helpdesk:</strong>
  <%= @program.helpdesk %>
</p>

<p>
  <strong>Helpdesk phone:</strong>
  <%= @program.helpdesk_phone %>
</p>

<p>
  <strong>Helpdesk email:</strong>
  <%= @program.helpdesk_email %>
</p>

<p>
  <strong>Helpdesk url:</strong>
  <%= @program.helpdesk_url %>
</p>

<p>
  <strong>Concierge:</strong>
  <%= @program.concierge %>
</p>

<p>
  <strong>Concierge phone:</strong>
  <%= @program.concierge_phone %>
</p>

<p>
  <strong>Concierge name:</strong>
  <%= @program.concierge_name %>
</p>

<p>
  <strong>Concierge email:</strong>
  <%= @program.concierge_email %>
</p>

<p>
  <strong>Experiential learning:</strong>
  <%= @program.experiential_learning %>
</p>

<p>
  <strong>Experiential text:</strong>
  <%= @program.experiential_text %>
</p>

<p>
  <strong>Plas:</strong>
  <%= @program.plas %>
</p>

<p>
  <strong>Plas text:</strong>
  <%= @program.plas_text %>
</p>

<p>
  <strong>Accelerated:</strong>
  <%= @program.accelerated %>
</p>

<p>
  <strong>Accelerated text:</strong>
  <%= @program.accelerated_text %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @program.summary %>
</p>

<p>
  <strong>Level expanded:</strong>
  <%= @program.level_expanded %>
</p>

<p>
  <strong>Sed:</strong>
  <%= @program.sed %>
</p>

<p>
  <strong>Apply now url:</strong>
  <%= @program.apply_now_url %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
