<% @pathways.each do |pathway| %>
	


<!doctype html>
<html lang="en">
    <head>
      
      <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '659208210936055');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=659208210936055&amp;ev=PageView&amp;noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->
      <meta name="facebook-domain-verification" content="1fmpdbpfrkd8un4mbuhm1rpmzzj8y4" />
      
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="SUNY Online">
      	<meta name="bot token" content=''>
        <meta name="description" content="<%=pathway.meta_description%>">
    		<meta name="keywords" content="<%=pathway.meta_keywords%>">
			<link rel="shortcut icon" href="/assets/favicon.ico">

        <title><%= pathway.page_title %> | SUNY Online</title>
      
      	<script>
          var idCounter = 0;
          function uniqid(prefix) {
            var id = '' + ++idCounter;
            return prefix ? prefix + id : id;
          };
      </script>
      
        <link rel="stylesheet" type="text/css" assets="" href="/assets/suny-online-/css/fonts.css" />
        <link rel="stylesheet" type="text/css" assets="" href="/assets/suny-online-/css/main.css" />
      	<link rel="stylesheet" type="text/css" assets="" href="/assets/suny-online-/css/triangle.css" />
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
      
				
        <script type="text/javascript" src="/assets/suny-online-/js/jquery.js"></script>
        <script type="text/javascript" src="/assets/suny-online-/js/main.js"></script>
				<script type="text/javascript" src="/assets/suny-online-/js/waypoint.js"></script>
				<script type="text/javascript" src="/assets/suny-online-/js/counterup2-1.0.1.min.js"></script>
				<script type="text/javascript" src="/assets/suny-online-/js/list.js"></script>
      
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THD9NLX');</script>
    <!-- End Google Tag Manager -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44103522-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-44103522-2');
    </script>
  
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9Z4ZB3QXQ"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'G-D9Z4ZB3QXQ');
     </script>
      
      
     </head>
     <body data-page="<%= pathway.title %>">  
       
   	  <!-- Google Tag Manager (noscript) -->
   	  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THD9NLX"
   	  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   	  <!-- End Google Tag Manager (noscript) -->
    
      
      	<div style="display:none;" data-home="/" id="homeTag"></div>

        <!-- Header -->
        <header class="tri full">
           <div class="tri">
                <div class="ang le-full md-3" id="navLogo">
                    <a class="SO__logo" href="../../index.html"><img id="headIMG" src="/assets/suny-online-/images/SUNYOnline-logowhite-silo.png" alt="Suny Logo"></a>
                  	<a href="#" class="mobile_menu__toggle"><i class="fas fa-bars"></i></a>
               </div>
                <div class="ang le-full md-21 hide-sm" id="navLinks">
                    <ul class="navigation__bar">
                        <!--<li><a href="/programs/">Explore Online Degrees</a></li>-->
                        <!--li><a href="../../contact-us/index.html" alt="Request Information">Request Info</a></li>
                        <li><a href="../../tuition-at-suny/index.html" alt="Affordable Tuition">Affordable Tuition</a></li>
												<li><a href="../../transfer/index.html" alt="Transfer">Transfer</a></li>
                         <li><a href="../index.html" alt="Programs">Programs</a></li>
                        <li><a href="../../faq/index.html" alt="FAQ">FAQs</a></li-->
                        
                    </ul>
                </div>
            </div>                
        </header><div id="industry__metadata">
    <a href="#" alt="list close" class="category_list__close"><i class="fa fa-times" aria-hidden="true"></i></a>
    <img class="icon__home" alt="industry icon" src="../../assets/suny-online-/images/industries/Group-559@2x.png" />
    <img class="icon__list" alt="industry icon list" src="../../assets/suny-online-/images/industries/Group-649.png" />
    <img class="icon__program" alt="industry program" src="../../assets/suny-online-/images/industries/Group-649.png" />
    <strong><%= pathway.title %></strong>
    <p>
    	Gain the skills and earn the degree to sit for the CPA exam or work in business.
    </p>
</div><style>#hero_filter__program[data-industry="na"] .hero_filter__trigger {
    background-color:#949494;
  	visibility: hidden;
  position: absolute;
}
  #formAbout {
  background-color: white;
  }
</style>
<div class="tri full" id="hero" style="background-image:url('../../assets/suny-online-/images/industries/business-hero-1024x461.png');background-position: center;" alt="Suny hero image">
    <div class="tri" id="BC">
        <div class="ang le-full md-third-2">
            <h1><%= pathway.title %></h1>
            <p><%=raw pathway.headline %></p>
            

	      </div>
	  </div>
    </div>
</div>
</div>
<div class="tri full" id="formAbout">
    <div class="tri has__overlap">
        <div class="ang le-full md-10 about__desc hide-sm" style="background-color: #54B948;">
            <h3><strong>About <%= pathway.title %></strong></h3>
<p><%=raw pathway.description %></p>
          <a class="cta__blue scroll_me" id="about__desc" href="#single__program_list" data-title="Accounting" alt="scroll to form">See All Programs <i class="fas fa-chevron-down"></i></a>
        </div>
        <div class="ang le-full md-14 about__form">
        	<a href="#" id="form__anchor" alt="form anchor"></a>
            <h3>I want to study <%= pathway.title.downcase %></h3>
            <div id="form_d6868379-cef9-48b3-8ca6-f7c4a58ac184">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=d6868379-cef9-48b3-8ca6-f7c4a58ac184&output=embed&div=form_d6868379-cef9-48b3-8ca6-f7c4a58ac184' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script></div>
			
        <div class="ang le-full md-10 about__desc hide-md hide-lg">
            <h3><strong>About <%= pathway.title %></strong></h3>
<p><%=raw pathway.description %></p>
            <a alt="contact us" href="#program__list" class="cta__blue">See All Programs <i class="fas fa-chevron-down"></i></a>
        </div>
    </div>
</div>

<style>
  
</style><style>.program__list > ul { display:none; }
</style>

<div class="program__list" id="single__program_list"></div>


<div class="tri full content SO_grey" id="single__program_output" data-industry="Accounting">
	<div class="tri">
    <div class="ang le-full txtC">
        <h3>Featured <%= pathway.title %> Programs</h3>
    </div>
    <div class="ang le-third-2 hide-sm"></div>
 
    <div class="ang le-full">
		<ul class="list" data-num="2"><li id="single_program__1" class="single__program_box loaded"><div id="program__metadata_id4" class="filter__program filter__degree filter__campus">
		  <div class="featured_program__image" style="background-image:url('/assets/suny-online-/images/campus/college_0003_MonroeCC-icon-1000.jpg');"></div>
		  <h4 class="filter__program_title">Business Administration AS</h4>
		  <h5 class="filter__program_online">100% Online</h5>
		  <div class="tri">
		    <div class="ang le-half">
		      <p>Credits: <span class="filter__program_credits">62</span></p>
		    </div>
		    <div class="ang le-half" id="CostCredits">
		      <p>Cost per credit: <span class="filter__program_cost">$196</span></p>
		    </div>
		  </div>
		</div><a href="https://explore.suny.edu/programs/monroe-community-college-business-business-administration-associate-associate-of-science-1470329453128" class="program__link"></a></li>
		
		<li id="single_program__2" class="single__program_box loaded"><div id="program__metadata_id5" class="filter__program filter__degree filter__campus">
		  <div class="featured_program__image" style="background-image:url('/assets/suny-online-/images/campus/oswego-horiz-Logo-320.jpg');"></div>
		  <h4 class="filter__program_title">Business Administration BS</h4>
		  <h5 class="filter__program_online">100% Online</h5>
		  <div class="tri">
		    <div class="ang le-half">
		      <p>Credits: <span class="filter__program_credits">120</span></p>
		    </div>
		    <div class="ang le-half" id="CostCredits">
		      <p>Cost per credit: <span class="filter__program_cost">$295</span></p>
		    </div>
		  </div>
		</div><a href="https://explore.suny.edu/programs/state-university-college-at-oswego-business-administration-bachelor-1555614893164" class="program__link"></a></li>
	
	<li id="single_program__1" class="single__program_box loaded"><div id="program__metadata_id4" class="filter__program filter__degree filter__campus">
			  <div class="featured_program__image" style="background-image:url('/assets/suny-online-/images/campus/college_0006_ESC-icon-475.jpg');"></div>
			  <h4 class="filter__program_title">Management BS</h4>
			  <h5 class="filter__program_online">100% Online</h5>
			  <div class="tri">
			    <div class="ang le-half">
			      <p>Credits: <span class="filter__program_credits">124</span></p>
			    </div>
			    <div class="ang le-half" id="CostCredits">
			      <p>Cost per credit: <span class="filter__program_cost">$295</span></p>
			    </div>
			  </div>
			</div><a href="https://explore.suny.edu/programs/empire-state-college-management-master-master-of-business-administration-1470329453724" class="program__link"></a></li>
	
	<li id="single_program__1" class="single__program_box loaded"><div id="program__metadata_id4" class="filter__program filter__degree filter__campus">
			  <div class="featured_program__image" style="background-image:url('/assets/suny-online-/images/campus/oswego-horiz-Logo-320.jpg');"></div>
			  <h4 class="filter__program_title">Business Administration MBA</h4>
			  <h5 class="filter__program_online">100% Online</h5>
			  <div class="tri">
			    <div class="ang le-half">
			      <p>Credits: <span class="filter__program_credits">36-57</span></p>
			    </div>
			    <div class="ang le-half" id="CostCredits">
			      <p>Cost per credit: <span class="filter__program_cost">$625</span></p>
			    </div>
			  </div>
			</div><a href="https://explore.suny.edu/programs/state-university-college-at-oswego-business-administration-master-master-of-business-administration-1470329453502" class="program__link"></a></li>
	
	<li id="single_program__1" class="single__program_box loaded"><div id="program__metadata_id4" class="filter__program filter__degree filter__campus">
			  <div class="featured_program__image" style="background-image:url('/assets/suny-online-/images/campus/college_0006_ESC-icon-475.jpg');"></div>
			  <h4 class="filter__program_title">Business Management MBA</h4>
			  <h5 class="filter__program_online">100% Online</h5>
			  <div class="tri">
			    <div class="ang le-half">
			      <p>Credits: <span class="filter__program_credits">36-45</span></p>
			    </div>
			    <div class="ang le-half" id="CostCredits">
			      <p>Cost per credit: <span class="filter__program_cost">$635</span></p>
			    </div>
			  </div>
			</div><a href="https://explore.suny.edu/programs/empire-state-college-management-master-master-of-business-administration-1470329453724" class="program__link"></a></li>
	
	</ul>
    </div>
    <!--div class="ang le-full txtC">
        <ul class="pagination"></ul><br>
   	
    </div-->
		</div> 
</div>



<script>
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}
    


</script><style>
	
</style>

<div class="tri full" id="ourGradsTitle">
    <div class="tri">
        <div class="ang le-full txtC" id='ourGradsTitle'>
            <h3>Our Graduates Work As</h3>            
        	<ul class="grads__list"><li>
  <div class="grad__image">
    <img src="../../assets/suny-online-/images/graduate-roles/ourGrad1.png" alt="accounting role" style="width : 195px; height : 170px;     " />
  </div>
  <div class="grad__description">
    SMALL BUSINESS OWNER
  </div>
</li><li>
  <div class="grad__image">
    <img src="../../assets/suny-online-/images/graduate-roles/ourGrad2.png" alt="accounting role" style="width : 146px; height : 147px;     " />
  </div>
  <div class="grad__description">
    BUSINESS ANALYST
  </div>
</li><li>
  <div class="grad__image">
    <img src="../../assets/suny-online-/images/graduate-roles/ourGrad3.png" alt="accounting role" style="width : 144px; height : 144px;     " />
  </div>
  <div class="grad__description">
    CHIEF OPERATING OFFICER
  </div>
</li><li>
  <div class="grad__image">
    <img src="../../assets/suny-online-/images/graduate-roles/ourGrad4.png" alt="accounting role" style="width : 121px; height : 153px;     " />
  </div>
  <div class="grad__description">
    MARKETING DIRECTOR
  </div>
</li><li>
  <div class="grad__image">
    <img src="../../assets/suny-online-/images/graduate-roles/ourGrad5.png" alt="accounting role" style="width : 157px; height : 169px;     " />
  </div>
  <div class="grad__description">
    CHIEF FINANCIAL OFFICER
  </div>
</li></ul>    
</div>
</div>
</div>

<div class="tri full SO__grad_quotes SO_grey" 
     id="SO__grad_quotes">
  	<div class="tri">
      <div class="ang le-half hide-sm"></div>
      <div class="ang le-full md-half hide-sm">
          <h3>What Our Graduates Say</h3>
      </div>
      <div class="ang le-full">
          <ul class="quotes__list">
              <li class="quote__container" 
                  data-content="&ldquo;I have an amazing success coach who has checked in on me academically, and friendly reminders about registrations, events, etc.&rdquo; ">
                <p>
                    &ldquo;I have an amazing success coach who has checked in on me academically, and friendly reminders about registrations, events, etc.&rdquo; 
                    <span class="quote__name">
                        - Travell, Empire State College
                    </span>
                </p>
              </li>
              <li class="quote__container" 
                  data-content="&ldquo;Between learning so much from my teachers from their online lectures and the activities available to me, most would have no clue that I am an online-only student.&quot;">
                <p>
                    &ldquo;Between learning so much from my teachers from their online lectures and the activities available to me, most would have no clue that I am an online-only student.&quot;
                    <span class="quote__name">
                        - Monica, SUNY Canton 
                    </span>
                </p>
              </li>
              <li class="quote__container" 
                  data-content="&ldquo;One of the reasons I choose SUNY ESC was the flexibility it provided me to continue working full time and finish my degree.  It was one of the best decisions I have made in a long time.&rdquo; ">
                <p>
                    &ldquo;One of the reasons I choose SUNY ESC was the flexibility it provided me to continue working full time and finish my degree.  It was one of the best decisions I have made in a long time.&rdquo; 
                    <span class="quote__name">
                        - Nicole, Empire State College 
                    </span>
                </p>
              </li>
          </ul>
      </div>
	</div>
      
      <div class="quotes__background" style="background-image:url('../../assets/suny-online-/images/Brian_Styk_ESC Student Life - Lindsay Decker 10.jpg');"></div> <!--gradsSayIMG.png-->
</div>
  
<style>
  
</style><style>#industry_achievements {
		background-image:url('../../assets/suny-online-/images/Group-4@2x.png');
        padding-bottom: 5%;
	}
</style>
<div class="tri full SO_grey " id="industry_achievements">
    <div class="tri">
        <div class="ang le-full txtC">
            <h2>Our Achievements</h2>            
            <p></p>
        </div>
        <div class="tri">
            <style>@assets screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="../../assets/suny-online-/images/achievements/industryAcheive1.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">4000</span><span class="post__counter"></span>
  </div>
  <div class="counter__description">Graduates Per Year</div>
</div><style>@assets screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="../../assets/suny-online-/images/achievements/industryAcheive2.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">41</span><span class="post__counter"></span>
  </div>
  <div class="counter__description">Degrees</div>
</div><style>@assets screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="../../assets/suny-online-/images/achievements/industryAcheive3.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">89%</span><span class="post__counter"></span>
  </div>
  <div class="counter__description">Completion</div>
</div><style>@assets screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="../../assets/suny-online-/images/achievements/industryAcheive4.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">2.5</span><span class="post__counter"></span>
  </div>
  <div class="counter__description">Years to Graduate</div>
</div><style>@assets screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="../../assets/suny-online-/images/achievements/industryAcheive5.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">39</span><span class="post__counter"></span>
  </div>
  <div class="counter__description">Awards</div>
</div>        </div>
    </div>
</div>

<script>
    jQuery( document ).ready( function($) {
        "use strict";
        var counterUp = window.counterUp["default"];
        var $counters = $(".counter");
        $counters.each(function (ignore, counter) {
			var waypoint = new Waypoint( {
				element: $(this), 
				handler: function() { 
                    var txt = $(counter).text(),
                        num = parseInt(txt,10),
                        dur = 3000, delay = 16;
                    if (num < 10) { dur = 2000; delay = 8; }
					counterUp(counter, {
						duration: dur,
						delay: delay
					}); 
					this.destroy();
				},
				offset: 'bottom-in-view',
			} );
		});
	});
</script>
	
	<div class="tri full content SO_white_grey" id="BC">
	    <div class="tri">
	        <div class="ang le-full txtC">
	            <h3><%= pathway.title %> Degree Pathway - Learn Your Way</h3>
	<p><%=raw pathway.learn_your_way_text %></p>
	        </div>
       
	    </div>
	</div>
	<div class="tri full content">
	    <div class="tri">
	        <div class="ang le-full txtC">
		<a href='#formAbout' class="cta__blue scrollme">Contact Us</a>
			</div>
		</div>
	</div>
	
	<div class="tri full content SO_grey_lite" id="BC">
	    <div class="tri">
	        <div class="ang le-full txtC">
	            <h3>Find the Best Fit for You.</h3>
	        </div>
	    </div>
	</div>

	<style>
  
	</style><style>.featured_program__list > ul { display:none; }
	</style>



<div class="tri full scroll_me" id="featuredPrograms_1">
	    <div class="featured_program__list"></div>
  <div id="featured_program__output" class="featured_programs tri">
		<div id="featured_program__0" class="featured_program__box"><div id="program__metadata_id1" class="filter__program filter__degree filter__campus"><div class="featured_program__image" style="background-image:url('/assets/suny-online-/images/mobile-math.png');"></div>
		  
		  <h4 class="filter__program_title">Accounting Degrees</h4>
		  <h5 class="filter__program_online">100% Online</h5>
		  <div class="tri">
	        <div class="ang le-full txtC">
	            <a href="<%= pathway.best_fit_link_1%>" class="cta__blue_1" alt="See All Accounting Programs" title="See All Accounting Programs">Learn More</a>
	        </div>
		  </div>
		</div></div>
		<div id="featured_program__1" class="featured_program__box"><div id="program__metadata_id1" class="filter__program filter__degree filter__campus"><div class="featured_program__image" style="background-image:url('/assets/suny-online-/images/calupdown.png');"></div>
		  
		  <h4 class="filter__program_title">Business and Accounting Degrees</h4>
		  <h5 class="filter__program_online">100% Online</h5>
		  <div class="tri">
	        <div class="ang le-full txtC">
	            <a href="<%= pathway.best_fit_link_2%>" class="cta__blue_1" alt="See All Business and Accounting Programs" title="See All Business and Accounting Programs">Learn More</a>
	        </div>
		  </div>
		</div></div>
		<div id="featured_program__2" class="featured_program__box"><div id="program__metadata_id1" class="filter__program filter__degree filter__campus"><div class="featured_program__image" style="background-image:url('/assets/suny-online-/images/lady.png');"></div>
		  
		  <h4 class="filter__program_title">Graduate Degrees in Accounting</h4>
		  <h5 class="filter__program_online">100% Online</h5>
		  <div class="tri">
	        <div class="ang le-full txtC">
	            <a href="<%= pathway.best_fit_link_3%>" class="cta__blue_1" alt="See All Graduate Degrees in Accounting" title="See All Graduate Degrees in Accounting">Learn More</a>
	        </div>
		  </div>
		</div></div>
			
	
	    </div>
	    <div class="tri">
	        <div class="ang le-full txtC">
	            <a href="https://explore.suny.edu/" class="cta__blue" alt="See All Programs" title="See All Programs">See All Programs</a>
	        </div>
	    </div>
	</div>
	
	
	

</div>
<style>
	
</style>

<script>    
	var filterList = $('.program_filter__list > ul > li > ul > li'), filterList_count = filterList.length, i = 0;
    
    filterList.each(function() {
        
        var indid = $("a:first", this).text(), indurl = $("a:first", this).attr('href'), indslug = indid.replace(/\s+/g, '_').toLowerCase();
        
        $('#hero_filter__industry > .hero_filter__select > .hero_filter__options').append(
            '<span data-value="'+indslug+'" tabindex="0">'+indid+'</span>'
        );
        
        $(this).find('li').each(function() {
            var url = $(this).find('a').attr('href'), name = $(this).find('a').text();
            $('#hero_filter__program > .hero_filter__select > .hero_filter__options').append(
                '<span data-href="'+url+'" data-industry="'+indslug+'" tabindex="0" class="heroItems">'+name+'</span>'
            );
        }).promise().done( function(){
          $('#hero_filter__program > .hero_filter__select > .hero_filter__options').append(
              '<span data-href="'+indurl+'" data-industry="'+indslug+'" tabindex="0">View All Programs</span>'
          );
        });
        
        i++; if (i == filterList_count) { $('#hero_filter').removeClass('loading'); }
    });
  
   $(document).on("click", ".hero_filter__options span", function (e) {
     setTimeout(function(){
	  	$( ".hero_filter__select" ).last().addClass( "open" ); 
     }, 300);
     e.stopPropagation();
 	});
</script>	
				<footer class="tri full"> 
            <img id="footerArrow" src="../../assets/suny-online-/images/toTopArrow.png" alt="Scroll To Top" />
            <div class="tri">
                <div class="ang le-full">
                  <div class="phone__number hide-md hide-lg">
                    <a href="tel:+518-445-4140"><img src="../../assets/suny-online-/images/phone.png" alt="An icon depiction a telephone" style="width : 27px; height : 27px;     " />Call 518-445-4140</a>
										<a href="mailto: studyonline@suny.edu" alt="email us">studyonline@suny.edu</a>
                  </div>
                  <h3><a href="http://suny.edu/">suny.edu</a></h3>
                </div>
                <div class="ang le-full md-half">
                    <div class="tri">
                        <div class="le-full md-third">
                            <ul class="footer__list">
                                <li><a href="http://www.suny.edu/contact/" alt="Contact us">Contact Us</a></li>
                                <li><a href="http://www.suny.edu/careers/" alt="Careers at Suny">Careers at SUNY</a></li>
                                <li><a href="https://www.suny.edu/attend/" alt="Attend Suny">Attend SUNY</a></li>
                                <li><a href="http://www.suny.edu/about/" alt="What is Suny?">What is SUNY?</a></li>
                                <li><a href="http://www.suny.edu/impact/" alt="Why does Suny Matter?">Why does SUNY Matter?</a></li>
                            </ul>
                        </div>
                        <div class="le-full md-third">
                            <ul class="footer__list">
                                <li><a href="http://www.suny.edu/news/" alt="News">News</a></li>
                                <li><a href="http://www.suny.edu/privacy-policy/" alt="Privacy Policy">Privacy Policy</a></li>
                                <li><a href="http://www.suny.edu/web-accessibility/" alt="Web Accessibility">Web Accessibility</a></li>
                                <li><a href="https://www.suny.edu/templates/sunymain/modules/domainredirect.cfm?domain=public&amp;path=about/leadership/board-of-trustees/" alt="Board of Trustees">Board of Trustees</a></li>
                                <li><a href="http://www.suny.edu/health-alert/" alt="Health Alert">Health Alert</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
                <div class="ang le-full md-quarter">
                  	<div class="phone__number hide-sm">
                      <a href="tel:+518-445-4140" alt="Call us"><img src="../../assets/suny-online-/images/phone.png" alt="An icon depiction a telephone" style="width : 27px; height : 27px;     " />Call 518-445-4140</a>
                      <ul class="footer__list">
                        <li style="color: white;"><a href="mailto: studyonline@suny.edu" alt="email us">studyonline@suny.edu</a></li>
                      </ul>
                  	</div>
                  
                    <h4>Follow us:</h4> 
                    <ul class="social__list">
                        <li><a href="http://www.instagram.com/suny" target="_blank" alt="Instagram link, opens in new window" ><i class="fab fa-instagram"></i></a></li>
                        <li><a href="http://www.twitter.com/SUNY" target="_blank" alt="twitter, opens in new window"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="http://www.facebook.com/generationSUNY" target="_blank" alt="facebook, opens in new window"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="http://www.linkedin.com/company/state-university-of-new-york" target="_blank" alt="linkedin, opens in new window"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="http://www.youtube.com/generationsuny" target="_blank" alt="youtube, opens in new window"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>

                <div class="ang le-full md-quarter">
                    <a href="https://www.suny.edu/" alt="suny logo"><img id="footerImage" src="../../assets/suny-online-/images/logo-suny_footer.png" alt="Suny Logo"></a>
                    <span class="copyright">Copyright &copy; <span id="cr-date">2020</span> SUNY. All Rights Reserved.</span>
                </div>
            </div>
            
        </footer>

				<div class="mobile_menu__container">
          <div class="tri">
            <div class="ang le-full">
              <a class="SO__logo" href="../../index.html"><img id="headIMG" src="../../assets/suny-online-/images/SUNY-Online-Logo-Final-01.png" alt="Suny Logo"></a>
              <a href="#" class="mobile_menu__close" style="display: inline;"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
            <div class="ang le-full">
              <ul class="navigation__bar">
                <li><a href="../../index.html" alt="Home">Home</a></li>
                <!--<li><a href="/programs/">Explore Online Programs</a></li>-->
                <li><a href="../../contact-us/index.html" alt="Request Info">Request Info</a></li>
                <li><a href="../../tuition-at-suny/index.html">Affordable Tuition</a></li>
								<li><a href="../../faq/index.html">FAQs</a></li>
              </ul>
            </div>
            <div class="ang le-full">
              <h4>Follow us:</h4> 
              <ul class="social__list">
                <li><a href="http://www.instagram.com/suny" target="_blank" alt="Instagram, opens in new window"><i class="fab fa-instagram"></i></a></li>
                <li><a href="http://www.twitter.com/SUNY" target="_blank" alt="Twitter, opens in new window"><i class="fab fa-twitter"></i></a></li>
                <li><a href="http://www.facebook.com/generationSUNY" target="_blank" alt="Facebook, opens in new window"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="http://www.linkedin.com/company/state-university-of-new-york" target="framename" alt="Linkedin, opens in new window"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="http://www.youtube.com/generationsuny" target="_blank" alt="Request Info, opens in new window"><i class="fab fa-youtube" ></i></a></li>
              </ul>
              <div class="phone__number">
                <a href="tel:+518-445-4140"><img src="../../assets/suny-online-/images/phone.png" alt="An icon depiction a telephone" style="width : 27px; height : 27px;     " />Call 518-445-4140</a>
              </div>
            </div>
          </div>
				</div>
			
                

    </body>
</html>


<%end%>