<% @pathways.each do |pathway| %>



<!doctype html>
<html lang="en">
    <head>

      
      <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '659208210936055');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=659208210936055&amp;ev=PageView&amp;noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->
      <meta name="facebook-domain-verification" content="1fmpdbpfrkd8un4mbuhm1rpmzzj8y4" />
      
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="SUNY Online">
      	<meta name="bot token" content=''>
        <meta name="description" content="<%=pathway.meta_description%>">
    		<meta name="keywords" content="<%=pathway.meta_keywords%>">
			<link rel="shortcut icon" href="/assets/favicon.ico">
			
          <title><%= pathway.page_title %> | SUNY Online</title>
      
      	<script>
          var idCounter = 0;
          function uniqid(prefix) {
            var id = '' + ++idCounter;
            return prefix ? prefix + id : id;
          };
      </script>
       <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <link rel="stylesheet" type="text/css" media="" href="/assets/suny-online-/css/fonts.css" />
        <link rel="stylesheet" type="text/css" media="" href="/assets/suny-online-/css/main.css" />
      	<link rel="stylesheet" type="text/css" media="" href="/assets/suny-online-/css/triangle.css" />

      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
      
		
        <!--script type="text/javascript" src="/assets/suny-online-/js/jquery.js"></script-->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<script type="text/javascript" src="/assets/suny-online-/js/owl.carousel.js"></script>
        <script type="text/javascript" src="/assets/suny-online-/js/main.js"></script>
		<script type="text/javascript" src="/assets/suny-online-/js/waypoint.js"></script>
		<script type="text/javascript" src="/assets/suny-online-/js/counterup2-1.0.1.min.js"></script>
		<script type="text/javascript" src="/assets/suny-online-/js/list.js"></script>
        
	    <!-- Google Tag Manager -->
	    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	    })(window,document,'script','dataLayer','GTM-THD9NLX');</script>
	    <!-- End Google Tag Manager -->


	    <!-- Global site tag (gtag.js) - Google Analytics -->
	    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44103522-2"></script>
	    <script>
	      window.dataLayer = window.dataLayer || [];
	      function gtag(){dataLayer.push(arguments);}
	      gtag('js', new Date());

	      gtag('config', 'UA-44103522-2');
	    </script>
  
	     <!-- Global site tag (gtag.js) - Google Analytics -->
	     <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9Z4ZB3QXQ"></script>
	     <script>
	       window.dataLayer = window.dataLayer || [];
	       function gtag(){dataLayer.push(arguments);}
	       gtag('js', new Date());

	       gtag('config', 'G-D9Z4ZB3QXQ');
	     </script>
      
      
	     </head>
	     <body data-page="<%= pathway.title %>">  
       
	   	  <!-- Google Tag Manager (noscript) -->
	   	  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THD9NLX"
	   	  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	   	  <!-- End Google Tag Manager (noscript) -->
      	
      
      	<div style="display:none;" data-home="/" id="homeTag"></div>

        <!-- Header -->
	    <header class="navbar  bs-docs-nav">
	
	      <%= render '/layouts/navigation' %>
	    </header>
        <!--header class="tri full">
		    
           <div class="tri">
                <div class="ang le-full md-3" id="navLogo">
                    <a class="SO__logo" href="/"><img id="headIMG" src="/assets/suny-online-/images/SUNYOnline-logowhite-silo.png" alt="Suny Logo"></a-->
                  	<!--a href="#" class="mobile_menu__toggle"><i class="fas fa-bars"></i></a>
               </div>
                <div class="ang le-full md-21 hide-sm" id="navLinks">
                    <ul class="navigation__bar">
                        <li><a href="/programs/">Explore Online Degrees</a></li>-->
                        <!--li><a href="contact-us/index.html" alt="Request Information">Request Info</a></li>
                        <li><a href="tuition-at-suny/index.html" alt="Affordable Tuition">Affordable Tuition</a></li>
												<li><a href="transfer/index.html" alt="Transfer">Transfer</a></li>
                         <li><a href="programs/index.html" alt="Programs">Programs</a></li>
                        <li><a href="faq/index.html" alt="FAQ">FAQs</a></li>
                        
                    </ul>
                </div>
            </div>                
        </header--><!-- TWITTER CARD INFO -->
<meta name='twitter:card' content='summary_large_image'>
<meta name='twitter:site' content='@suny'>
<meta name='twitter:title' content='SUNY Online - Your degree on your time'>
<meta name='twitter:description' content='Whether you want to complete your degree, pursue graduate school, or start a new career, SUNY Online is designed to help you succeed on your schedule.'>
<meta name='twitter:image' content='https://www.suny.edu/assets/suny/content-assets/images/online/SUNY-online-femalesmile-card.jpg'>
<meta name='twitter:image:alt' content='Female looks up smiling behind laptop with SUNY Online logo on top.' />

<style>#hero_filter__program[data-industry="na"] .hero_filter__trigger {
    background-color:#949494;
  	visibility: hidden;
  position: absolute;
}
  #formAbout {
  background-color: white;
  }
</style>
<div class="tri full" id="hero" style="background-image:url('/assets/suny-online-/images/headers/Homepage_Pathways.png');background-position: center;" alt="Suny hero image">

		   <section class="row-search">
	   <h1>SUNY <br> ONLINE</h1>
	   
	   <h2>Learn your way with SUNY.</h2>
	   
	    <h2>This is your degree, on your time. <br> 100% online!</h2>
	   
	  </section>

	  </div>
        </div>
        <!--div class="ang le-full md-half">
            <a href="#form__anchor" class="scroll__me cta__ghost hide-md hide-lg" alt="contact us">Contact Us For More Info <i class="fas fa-chevron-right"></i></a>
        </div-->

</div>


<section id="home">
<div class="carousel">
	
	<div id="owl-demo3" class="owl-carousel owl-theme">
		
	
<div class="item">
	<a href="/pathways/accounting"><img src="/assets/pathways/Accounting.png" alt="Accounting Pathway"><div class="pathways"><h2>Accounting  ></h2><p>Associate and bachelor's completion program in accounting. </p></div></a></div>
<div class="item">	
<a href="/pathways/business"><img src="/assets/pathways/Business.png" alt="Business Pathway"><div class="pathways"><h2>Business > </h2><p>Online associate, bachelor's, and MBAs. GMAT and non-GMAT MBA options. </p></div></a></div>
<div class="item">
<a href="/pathways/computerscience_it"><img src="/assets/pathways/CompSciIT.png" alt="Computer Science and IT Pathway"><div class="pathways"><h2>Computer Science & IT  ></h2><p>2-year and 4-year degrees in computer science, networking, and cybersecurity. </p></div></a></div>
<div class="item">
<a href="/pathways/criminal_justice"><img src="/assets/pathways/CriminalJustice.png" alt="Criminal Justice Pathway"><div class="pathways"><h2>Criminal Justice  ></h2><p>AAS and bachelor's degree. Paths in crime intelligence and crime analysis. </p></div></a></div>
<div class="item">
<a href="/pathways/education"><img src="/assets/pathways/Education.png" alt="Education Pathway"><div class="pathways"><h2>Education  ></h2><p>Start with an education certificate online. Transfer options available. </p></div></a></div>
<div class="item">
<a href="/pathways/engineering"><img src="/assets/pathways/Engineering.png" alt="Engineering Pathway"><div class="pathways"><h2>Engineering  ></h2><p>Engineering degrees for new and transfer students. </p></div></a></div>
<div class="item">
<a href="/pathways/general_studies"><img src="/assets/pathways/GenStudies.png" alt="General Studies Pathway"><div class="pathways"><h2>General Studies  ></h2><p>Individual studies to earn an AS or AA online. </p></div></a></div>
<div class="item">
<a href="/pathways/graduate_degrees"><img src="/assets/pathways/GradDegrees.png" alt="Graduate Degree Pathway"><div class="pathways"><h2>Graduate Degrees  ></h2><p>Fully online. GMAT and No-GMAT graduate degrees. </p></div></a></div>
<div class="item">
<a href="/pathways/healthcare"><img src="/assets/pathways/Healthcare.png" alt="Healthcare Pathway"><div class="pathways"><h2>Healthcare  ></h2><p>Associate, bachelor's, and graduate degrees in healthcare online. </p></div></a></div>
<div class="item">
<a href="/pathways/psychology"><img src="/assets/pathways/Psychology.png" alt="Psychology Pathway"><div class="pathways"><h2>Psychology  ></h2><p>Associate and bachelor's degrees in psychology. Start new or transfer. </p></div></a></div>
<div class="item">
<a href="/pathways/psychology"><img src="/assets/pathways/SecurityStudies.png" alt="Security Studies Pathway"><div class="pathways"><h2>Security Studies  ></h2><p>Homeland security, cybersecurity, and digital forensics paths. </p></div></a></div>

	</div>
</div>

</section>
			
	

	    <div class="ang le-full txtC" style="padding-top: 42px; padding-bottom: 50px;">
			
	    	<a href='#formAbout' class="cta__blue scrollme">Contact Us</a>
	    </div>


	
	<div class="tri full content SO_grey" id="">
    <div class="tri">
        <div class="ang le-full txtC">
			            <p class="best"><strong>Congrats to the Online Programs at&nbsp;SUNY&nbsp;Ranked&nbsp;</strong><strong>Best in the U.S.</strong></p>
			<p class="best"><em><a href="https://www.usnews.com/education/online-education/bachelors/rankings?school-name=SUNY">- U.S. News & World Report, 2022</a></em></p>
			<img src="/assets/badge-best-online-programs.svg" alt="industry Page achievement Image(s)" style=" height : 150px;     " />
            
        </div>
    </div>
</div>

<div class="tri full" id="formAbout">
    <div class="tri no__overlap">
        <div class="ang le-full md-10 about__desc hide-sm" style="background-color: #781E7F;">
			<h3><strong>WHY SUNY ONLINE?</strong></h3>
			<p><%=raw pathway.description %></p>
          <a class="cta__blue scroll_me" id="about__desc" href="#single__program_list" data-title="SUNY Online" alt="scroll to form"> <i class="fas fa-chevron-down"></i></a>
        </div>
        <div class="ang le-full md-14 about__form">
        	<a href="#" id="form__anchor" alt="form anchor"></a>
            <h3>GET STARTED TODAY</h3>
            <div id="form_b2ea9f6c-cd4a-491c-869d-4fb0c6a586a9">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=b2ea9f6c-cd4a-491c-869d-4fb0c6a586a9&output=embed&div=form_b2ea9f6c-cd4a-491c-869d-4fb0c6a586a9' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
        </div>
        <div class="ang le-full md-10 about__desc hide-md hide-lg">
			<h3><strong>WHY SUNY ONLINE?</strong></h3>
			<p><%=raw pathway.description %></p>
            <a alt="contact us" href="" class="cta__blue"> <i class="fas fa-chevron-down"></i></a>
        </div>
    </div>
</div><div class="tri full" id="testimonial">
    <div class="testimonial__container">
        <div class="testimonial__photo" style="background-image:url('/assets/suny-online-/images/studentphotos/travell-square.png');
" alt="student image"></div>
        
        <!--div class="testimonial__quote">
            <img src="/assets/suny-online-/images/quote_mark.png" alt="student image"/>
        </div-->
        
        <div class="tri testimonial__content">
            <div class="ang le-full txtC">
				<p class="student-quote">
<em>				                	&quot;SUNY online was unfamiliar to me but I had an amazing mentor who has literally been here for me every step of the way. I have an amazing success coach who has checked in on me academically, and giving me  friendly reminders...&quot;
				              </em>  </p>
                <p class="name"><strong>TRAVELL<strong></p> 
				<p>Empire State College, Psychology</p>


               
            </div>
        </div>
    </div>
    <div class="testimonial__background"></div>
</div><div class="tri full SO_white">
    <div class="tri full">
        <div class="ang le-full txtC">
            <h2>Achievements</h2>            
            <p class="achievements">With SUNY Online, our degree programs provide access to a quality education at a value you can afford. Take the next step today toward advancing your career and enhancing your earning potential by requesting information.</p>
        </div>
        <div class="tri">
            <style>@media screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="/assets/suny-online-/images/achievements/Alumni.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">3</span>M<span class="post__counter"></span>
  </div>
  <div class="counter__description">Alumni</div>
</div><style>@media screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="/assets/suny-online-/images/achievements/World.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">180</span><span class="post__counter"></span>
  </div>
  <div class="counter__description">Nations Around the World</div>
</div><style>@media screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="/assets/suny-online-/images/achievements/Students.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">1.3</span>M<span class="post__counter"></span>
  </div>
  <div class="counter__description">Students</div>
</div><style>@media screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="/assets/suny-online-/images/achievements/Faculty_white.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">45</span><span class="post__counter">%</span>
  </div>
  <div class="counter__description">of All Students Graduate with Zero Debt</div>
</div><style>@media screen and (max-width: 48em){
  .acheve{
  	padding-top: 12.5%;
  } 
}
</style>
<div class="ang le-half md-third lg-fifth txtC">
  <div class="counter__image">
  	<img src="/assets/suny-online-/images/achievements/ZeroDebt.png" alt="Suny online achievements"/>
  </div>
  <div class="counter__description acheve" style="">
  </div>
  <div class="counter__container">
  
  	<span class="pre__counter"></span><span class="counter">50</span>K+<span class="post__counter"></span>
  </div>
  <div class="counter__description">Expert Faculty</div>
</div>        </div>
        <div class="tri txtC">
            <div class="ang le-full txtC">
                <p>
                <a class="cta__blue" href="#formAbout" alt="contact us">
                        Contact Us <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery( document ).ready( function($) {
        "use strict";
        var counterUp = window.counterUp["default"];
        var $counters = $(".counter");
        $counters.each(function (ignore, counter) {
			var waypoint = new Waypoint( {
				element: $(this), 
				handler: function() { 
                    var txt = $(counter).text(),
                        num = parseInt(txt,10),
                        dur = 3000, delay = 16;
                    if (num < 10) { dur = 2000; delay = 8; }
					counterUp(counter, {
						duration: dur,
						delay: delay
					}); 
					this.destroy();
				},
				offset: 'bottom-in-view',
			} );
		});
	});
</script>					
	
<%= render 'layouts/footer' %>


    </body>
</html>

<%end%>