<section class="school-results row">
<h1>50 Universities with Online Degrees</h1>
<div id="school-grid" class="field-grid">
<div class="row" id="field-grid-list">
	<select id="school_filter" class="show-mobile-grid" aria-label="Filter Degree Fields By Degree Level">
	<option value="all" selected="">All Schools</option>
	<option value=".community-college">Community Colleges</option>
	<option value=".technology-college">Techology Colleges</option>
	<option value=".university">Universities</option>
	</select>
	
<label></label>
<div class="hide-mobile" style="width: 100%;">  
  <button class="filter" data-filter="all">All Schools</button>
  <button class="filter" data-filter=".community-college">Community Colleges</button>
  <button class="filter" data-filter=".technology-college">Techology Colleges</button>
  <button class="filter" data-filter=".university">Universities</button>
</div>  
  
</div>
<div class="row">
<ul id="Container-schools" class="grid-schools">
	<% @schools.each do |school| %>
	
<% if school.any_progs(school.id) != 0 %>
<li id="institution-row" class="mix level <%=school.campus_type(school.id)%>" data-myorder="1"><a title="Explore more SUNY Online Programs at <%=school.name%>" data-field="arts" tabindex="0" href="/programs?filterrific[with_subject_area]=arts">
		<figure>
			<a href="/programs?filterrific[with_school_id]=<%=school.id%>" title="Explore more degrees from <%=school.name%>">
				<%=image_tag(school.image.url(:small), :align=> "center",  :alt =>  "#{school.name} Logo")%></a>
				<figcaption>
					<a href="/programs?filterrific[with_school_id]=<%=school.id%>" title="Explore more degrees from <%=school.name%>">
						<h2><%=school.name%></h2>
					</a>
					<h4>Degrees Available:</h4>
					<ul class="degrees">
						<% if school.advanced_certificate(school.id) != 0 %>
						<li class="prog_type">
							<a href="/programs?filterrific[with_school_id]=<%=school.id%>&filterrific[with_prog_level]=advanced-certificate" title="Explore more Advanced Certificate degree programs from <%=school.name%>" class="rounded-button-adv">Advanced Certificate</a>
						</li>
						<% end %>
						
						<% if school.associate(school.id) != 0 %>
						<li class="prog_type">
							<a href="/programs?filterrific[with_school_id]=<%=school.id%>&filterrific[with_prog_level]=associate" title="Explore more Associate degree programs from <%=school.name%>" class="rounded-button">Associate</a>
						</li>
						<% end %>
						<% if school.bachelor(school.id) != 0 %>
						<li class="prog_type">
							<a href="/programs?filterrific[with_school_id]=<%=school.id%>&filterrific[with_prog_level]=bachelor" title="Explore more Bachelor's degree programs from <%=school.name%>" class="rounded-button">Bachelor's</a>
						</li>
						<% end %>
						
						<% if school.certificate(school.id) != 0 %>
						<li class="prog_type"><a href="/programs?filterrific[with_school_id]=<%=school.id%>&filterrific[with_prog_level]=certificate" title="Explore more Certificate degree programs from <%=school.name%>" class="rounded-button">Certificate</a></li>
						<% end %>
						
						<% if school.doctorate(school.id) != 0 %>
						<li class="prog_type">
							<a href="/programs?filterrific[with_school_id]=<%=school.id%>&filterrific[with_prog_level]=doctorate" title="Explore more Doctorate degree programs from <%=school.name%>" class="rounded-button">Doctorate</a>
						</li>
						<% end %>
						<% if school.master(school.id) != 0 %>
						<li class="prog_type">
							<a href="/programs?filterrific[with_school_id]=<%=school.id%>&filterrific[with_prog_level]= master" title="Explore more Master's degree programs from <%=school.name%>" class="rounded-button">Master's</a>
						</li>
						<% end %>

					</ul>
				</figcaption>
			</figure>
		</li>
			<%end%>	
	<%end%>	

  <div class="gap"></div>
  <div class="gap"></div>
</ul>		
</div>
</div>	
</section>	