<p id="notice"><%= notice %></p>

<h1>Listing Schools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>School url</th>
      <th>Registration url</th>
      <th>Tuition url</th>
      <th>Financial aid url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.address1 %></td>
        <td><%= school.address2 %></td>
        <td><%= school.city %></td>
        <td><%= school.state %></td>
        <td><%= school.zip %></td>
        <td><%= school.school_url %></td>
        <td><%= school.registration_url %></td>
        <td><%= school.tuition_url %></td>
        <td><%= school.financial_aid_url %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
