<div class="row">
	<div class="container">
		<div class="well">
<div id="filterrific_results">
  
  <div class="pull-right" data-intro="Reset the filter settings to defaults." data-position="bottom">
    <%= link_to('Reset filters', reset_filterrific_url, :class => 'reset_link') %>

  </div>
  <div class="chardin_box" data-intro="will_paginate's entries info works as expected." data-position="bottom">
  <%= page_entries_info @courses, entry_name: "courses" %>
  </div>
  <div class="chardin_box" data-intro="Spinner indicates update." data-position="bottom">

        <span class="filterrific_spinner" style="display:none;">
          <%= render_filterrific_spinner %>
        </span>

  </div>
  </div>
</div>
 </div>
 
 <div class="row">
 	<div class="container">

  <table class="table table-striped table-hover">
      <tr>
		<th></th>
        <th>Course</th>
        <th>Code</th>
        <th>Start date</th>
        <th>Level</th>
        <th>Course method</th>
        <th>Credit</th>
      </tr>

      <% @courses.each do |course| %>
        <tr>
		  <td><%= image_tag(course.school.image.url(:small), :align=> "center", :width=> "55px") %></td>	
          <td><%= link_to course.title, course %> <br> <%= course.school.name %></td>
          <td><%= course.prefix %> <%= course.code %> <%= course.section %></td>
          <td><%= course.start_date.strftime("%m/%d/%y")%></td>
          <td><%= course.level %></td>
          <td><%= course.course_method %></td>
          <td><span><%= course.credit %></span></td>
        </tr>
      <% end %>
  </table>
  
  </div>
   </div>
<div class="text-center"><%= paginate @courses %></div>
 