<style>
	#top_rfi{
		display:none;
	}
	</style>

<header class="search-filter" aria-label="CoursesFilter Banner">
	<nav class="search-row" aria-label="Courese Filter Navigation">

<%= form_for_filterrific @filterrific do |f| %><div class="form-row1">

    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'course_search',
	  placeholder: 'Search for a course'
    ) %>

      <%= f.select(
        :with_catalog_id,
        @filterrific.select_options[:with_catalog_id],
        { include_blank: '- Semester -' },
		class: 'cat_search course_select'
      ) %>

    <%= f.select(
      :with_school_id,
      @filterrific.select_options[:with_school_id],
      { include_blank: '- School -' },
	  class: 'school_search course_select'
    ) %>
    <%= f.select(
      :with_credit,
      @filterrific.select_options[:with_credit],
      { include_blank: '- Credits -' },
	  class: 'credit_search course_select'
    ) %>

   <%= f.select(
     :with_course_area,
     @filterrific.select_options[:with_course_area],
     { include_blank: '- Subject Area -' },
	 class: 'sub_search course_select'
   ) %>

  <%= f.select(
    :with_level,
    @filterrific.select_options[:with_level],
    { include_blank: '- Level -' },
	class: 'level_search course_select'
  ) %>

 

  <script type="text/javascript">
      /*$(document).ready(function() {
          $('#filterrific_with_generaleducation_id').multiselect({
          });
           $('.btn-group').on('click', function (e) {
                $(this).addClass("open");
            });           
      }); */

  </script>
  <!-div class="span3 chardin_box"-->

  <%= f.select(
    :with_generaleducation_id,
    @filterrific.select_options[:with_generaleducation_id],
    { include_blank: '- Gen Ed -' },
	class: 'gen_search course_select'
  ) %>

      <!--%= f.select(:with_generaleducation_id, @filterrific.select_options[:with_generaleducation_id], { include_hidden: false}, title: 'Gen Ed', multiple: true)%-->
	  

     <%= f.text_field(:with_start_date, class: 'js-datepicker', placeholder: 'Start After', class: 'date_search'  ) %>
     <%= f.hidden_field :with_start_date_gte %>

  <!--div class="span3 chardin_box">
    <label>Sorted by</label>
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div-->

<% end %>
	</nav>
</header>


 
<%= render(
  partial: 'courses/list',
  #locals: { courses: @courses }
) %>

<script type="text/javascript">
$('.js-datepicker').datepicker({"autoclose": true});
$('.js-datepicker').datepicker().on('changeDate', function(e){
     $('#filterrific_with_start_date_gte').val(e.format('yyyy-mm-dd'));
 });
 $('#overlayTrigger').click(function(event) {
   event.preventDefault();
   $('body').chardinJs('start');
 });
 </script>


