
<main>
	<section id="course-display">
		<header aria-label="course-page-banner">
			<div class="row">
				<figure>
					<div class="logo">
						<%= image_tag(@course.school.image.url(:small), :align=> "center") %>
					</div>
				<figcaption>
					<h1><%= @course.title %></h1>
					<h2><%= @course.prefix %>-<%= @course.code %>-<%= @course.section %></h2>
					<h3><%= @course.school.name %></h3>
				</figcaption></figure>
					<div class="actions">
						<button class="rounded-button large blue halo" data-program="<%= @course.id %>" onclick="window.location.href= '<%= @course.registration_url %>'" >Register Now</button>
						<ul>
							<li><a href="<%= @course.school.tuition_url %>" class="apply_now" target="_blank" rel="noopener" title="Costs for <%= @course.title %> ">Cost & Fees</a>
							</li>
							<li class="toolbar">
								<a href="<%= @course.school.financial_aid_url %>" class="apply_now" target="_blank" rel="noopener" title="Costs for <%= @course.title %> ">Financial Aid</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="stats" id="testimonial-content">
				<ul class="row">
					<!--li><dl><dt>Designated As</dt><dd>Open SUNY+</dd></dl></li-->
						<li><dl><dt>Semester</dt><dd> <%= @course.catalog.name %></dd></dl></li>
						<li><dl><dt>Instructor</dt><dd>  <%= @course.instructor %></dd></dl></li>
						<li><dl><dt>Start Date</dt><dd> <%= @course.start_date.strftime('%m-%d-%Y') %></dd></dl></li>
						<li><dl><dt>Total Credits</dt><dd><%= @course.credit %></dd></dl></li>
						<li><dl><dt>Call to Register</dt><dd><%= @course.school.registrar_phone %></dd></dl></li>
				</ul>
			</div>
						
	</header>
					
					<section class="course-content">
						<header role="course-navigation-banner" id="course-navigation-banner" aria-label="Course Details Navigation Banner">
							<nav class="row" aria-label="Course Details Navigation Bar">
								<ul class="hide-mobile" id="course-navigation-list">
									<li class="selected">Course Overview</li>
									<!--li><a href="#onlinelearning">Online Learning</a></li>
									<li><a href="#register">How To Register</a></li-->
								</ul>
							</nav>
						</header>
						<div class="course-overview row">
							<section class="degree-card">
								<h2>Take your class online with SUNY</h2>
								<h3>You will learn the same cirriculum as our on-campus students</h3>
								<div class="description"> <%= @course.description.html_safe %></div>
  				  			   <% if !@course.prerequisites.blank? %>
								<div class="prereq"><strong class="course_data_label">Prerequisites:</strong>
				  			  <%= @course.prerequisites.html_safe %></div>
							  <% end %>
							
							  <% if !@course.corequisites.blank? %>
							 <div class="core"> <strong class="course_data_label">Corequisites:</strong>
				  			    <%= @course.corequisites.html_safe %></div>
								<% end %>
								
								<% if !@course.general_education.blank? %>
						  		<div class="gened"><strong class="course_data_label">General Education Area(s):</strong> 
								<%= @course.general_education.name %></div>
								<% end %>
								
						  		<div class="course_area"><strong class="course_data_label">Course Area:</strong> <%= @course.course_area %></div>
								<div class="level"> <strong class="course_data_label">Level:</strong> <%= @course.level %></div>
								<div class="dates">	<strong class="course_data_label">Dates:</strong> <%= @course.start_date.strftime('%m-%d-%Y') %> - <%= @course.end_date.strftime('%m-%d-%Y') %></div>
								

								<dl class="info-block">
									<dt>Find books for your online class</dt>
									<dd>  <strong>Instructor: </strong>
		  <%= @course.instructor %></dd>
		  							<dd>   <strong>Local Course ID: </strong><%= @course.local_course_id %></dd>
									<dd><a href="<%= @course.books_url %>" target="_blank">Books & Supplies</a></dd>
								</dl>
							</section>
							<aside class="school-card" aria-label="University Details">
								<div class="wrap one">
									<div class="info">
										<figure>
											<%= image_tag(@course.school.image.url(:large), :align=> "center" ) %>
											<figcaption>
												
										<% if @course.school.campus_type == "Community College"%>	
										<h4>About our Community College</h4>
											<p>As a SUNY Community College, we respond to the educational need of all people and their local, state, and global communities. We offer certificate programs and associate degrees, as well as transfer and career services. You will benefit from flexible course scheduling and affordable career exploration.</p>
										<% end%>
										<% if @course.school.campus_type == "Technology College"%>	
										<h4>About our Technology College</h4>
											<p>Cutting-edge, hands-on training for in-demand careers is the focus of our technology college. We offer academic programs and degrees in technical, as well as traditional, disciplines. Excellent support services complement the classroom instruction. Internships and on-the-job training provide students with hands-on experience that is sought after by employers.</p>
										<% end%>
										<% if @course.school.campus_type == "University"%>	
										<h4>About our University</h4>
											<p>Our university college is a leader in undergraduate instruction. We provide bachelor’s and master’s degrees in liberal arts and sciences and professional disciplines. Student success is our primary focus as evidenced by faculty and staff interactions through honors programs, independent study opportunities, research and study abroad.</p>
										<% end%>
										
										
										
										
												<figure class="accreditation" id="onlinelearning"><img src="//d2brwuimzb4ax4.cloudfront.net/sites/suny/logos/regionally_accredited.png" alt="Middle States Commission on Higher Education">
													<figcaption>
														<dl><dt>Regionally Accredited</dt>
															<dd>We are regionally accredited by the Middle States Commission on Higher Education</dd>
														</dl>
													</figcaption>
												</figure>
											</figcaption>
										</figure>
									</div>
								</div>
							</aside>
						</div>

				</section>
				<section class="related-courses">
					
				</section><section class="rfi-banner">
					<h4>Interested in registering for this class?</h4>
					<button class="rounded-button large white blue-halo" data-program="<%= @course.id %>" onclick="window.location.href= '<%= @course.registration_url %>' target='_blank'">Register Now</button>
					
					
				</section>
			</section>
		</main>





