<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

	  <head>
		  <meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		  <meta property="og:title" content="Online Degrees and Courses from the State University of New York">
		  <meta property="og:description" content="With over 650 online degrees at SUNY Online to choose from, you can advance your career on your own schedule right from home.">
		  <meta name="description" content="With over 650 online degrees at SUNY Online to choose from, you can advance your career on your own schedule right from home.">
		  <meta name="keywords" content="SUNY Online, Online SUNY, Open SUNY, OpenSUNY, SLN, SUNY Learning Network, SUNY Online Learning, State University of New York, online learning, online course, online classes, online degree, online degrees, Online Degree Programs, Open SUNY+, OpenSUNY+, Online College Courses, Online Bachelor Degrees, Online Master Degrees, Online Associate Degrees, online course catalog">
		  <meta name="keywords" content='<%= yield_or_default(:meta_key, "Search for Online Programs and Courses")%> | SUNY Online'>
		  <meta name="DC.type" content="http://purl.org/dc/dcmitype/Service">
		  <meta name="DC.description" content="Online Degrees, Certificates and Endorsements from the State University of New York">
		  
	  
	  
		<link rel="shortcut icon" href="/assets/favicon.ico">
<title><%= yield_or_default(:title, "Search for Online Programs and Courses") %> | SUNY Online</title>
</title>


   
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet">
	  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

		  <!--[if lt IE 9]>
		   <script src="/assets/html5shiv.js" type="text/javascript"></script>
		   <script src="/assets/respond.min.js" type="text/javascript"></script>
		  <![endif]-->

		   <!--Start of Zopim Live Chat Script-->
		  <!--!script type="text/javascript">
		  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
		  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
		  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
		  $.src='//v2.zopim.com/?MyyHIkMnvFw4osDLwQHwHWndKvGDq7uD';z.t=+new Date;$.
		  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
		  </script-->
		  <!--End of Zopim Live Chat Script-->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-THD9NLX');</script>
<!-- End Google Tag Manager -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44103522-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-44103522-2');
</script>
  
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9Z4ZB3QXQ"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'G-D9Z4ZB3QXQ');
 </script>


  </head>
  <body>
	  <!-- Google Tag Manager (noscript) -->
	  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THD9NLX"
	  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	  <!-- End Google Tag Manager (noscript) -->
   
    <header class="navbar  bs-docs-nav">
		
      <%= render 'layouts/navigation' %>
    </header>
	<main>
    <!--main role="main"-->
		
			
		
			
       <%= render 'layouts/messages' %>
       <%= yield %>
    <!--/main-->
		</main>

<%= render(
  partial: 'programs/rfi_modal',
  #locals: { programs: @programs }
) %>

		
<%= render 'layouts/footer' %>
<input id="reloadValue" type="hidden" name="reloadValue" value="" />
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
  
</html>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
			
    });
	$(window).on('popstate', function(event) {
	 location.reload();
	});
	

</script>