<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Open SUNY Navigator" %> | Open SUNY</title>
		<meta name="keywords" content="SUNY Learning Network, Online Courses, Online Degree, Online Certificate, SUNY Online, Online Masters, Online Bachelors, Online Associate, Online Certicate, Online Course Catalog, Online Course info, Online Degree Info, online degree registration, online course registration, online education" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet">
	  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

		  <!--[if lt IE 9]>
		   <script src="/assets/html5shiv.js" type="text/javascript"></script>
		   <script src="/assets/respond.min.js" type="text/javascript"></script>
		  <![endif]-->

		   <!--Start of Zopim Live Chat Script-->
		  <script type="text/javascript">
		  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
		  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
		  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
		  $.src='//v2.zopim.com/?MyyHIkMnvFw4osDLwQHwHWndKvGDq7uD';z.t=+new Date;$.
		  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
		  </script>
		  <!--End of Zopim Live Chat Script-->

		  <!-- Google Tag Manager -->
			<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WM98TB"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WM98TB');</script>
			<!-- End Google Tag Manager -->

  </head>
  <body>
   
    <header class="navbar navbar-static-top bs-docs-nav">
		
      <%= render 'layouts/navigation' %>
    </header>
	<main>
    <!--main role="main"-->
		
			
		
			
       <%= render 'layouts/messages' %>
       <%= yield %>
    <!--/main-->
		</main>
<%= render 'layouts/footer' %>
  </body>
  
</html>


<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>